<div class="modal right-aligned-modal fade" bsModal #SelfieModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please select your Selfie</h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Enter Your Question</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                [value]="selfie && selfie.length > 0 ? selfie[0].question : ''" />
                        </div>
                    </div>
                    <div ngClass="mb-4">
                        <div ngClass="select-options">
                            <h5>Select Options</h5>
                            <!-- <a routerLink="javascript:">Select All</a> -->
                        </div>
                        <div>
                            <div ngClass="advancedoption mb-4">
                                <p>File Type</p>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>input field</option>
                                    <option value="1">PDF</option>
                                    <option value="2">Text Document</option>
                                </select>
                            </div>
                            <div ngClass="advancedoption mb-4">
                                <p>File Size</p>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>File Size</option>
                                    <option selected>Less than 10MB</option>
                                    <option value="1">10MB</option>
                                    <option value="2">More than 10MB</option>
                                </select>
                            </div>
                            <div ngClass="advancedoption mb-4">
                                <p>File Uplaod limit</p>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Upload limit</option>
                                    <option value="1">Excaly</option>
                                    <option value="2">More than</option>
                                    <option value="2">Less than</option>
                                </select>
                            </div>
                            <div ngClass="advancedtext">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100">Continue</button>
            </div>
        </div>
    </div>
</div>