<div ngClass="common-bg">
    <div ngClass="all-survey">
        <div ngClass="row common-heading">
            <div class="col-md-9">
                <h4>View Expert Aid</h4>
                <p>Manage your Track Opinion "Expert Aid List" page</p>
            </div>
            <div class="col-md-3">
                <div class="input-group flex-nowrap sort">
                    <span class="input-group-text" id="addon-wrapping">Sort By:</span>
                    <select class="form-select">
                        <option selected>All Roles</option>
                        <option value="1">Admin</option>
                        <option value="2">Sub Admin</option>
                        <option value="3">Super Admin</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" ngClass="form-check-input" />
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Services</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of UserData">
                        <td><input type="checkbox" [ngClass]="'form-check-input'" /></td>
                        <td><span>{{ item.name }}</span></td>
                        <td>{{ item.projectType }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.mobile }}</td>
                        <td><span *ngFor="let service of item.expertAidServices">
                                <ul>
                                    <li>
                                        {{ service.name }}
                                    </li>
                                </ul>
                            </span></td>
                        <td [ngClass]="'done status'"><span>{{item.status}}</span></td>
                        <td [ngClass]="'action'">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    [ngModel]="item.isChecked ? 1 : 0"
                                    (ngModelChange)="updateStatus(item.id, $event == 1 ? 'ACT' : 'Other')" />
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>