<div ngClass="common-bg">
    <div ngClass="all-survey">
        <div ngClass="row common-heading">
            <div class="col-md-9">
                <h4>View And Manage the Expert Aids You’ve Sought from Scrip8</h4>
                <p>Manage your Track Opinion "Expert Aid List" page</p>
            </div>

        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" ngClass="form-check-input" [(ngModel)]="selectAll"
                                (change)="selectAllCheckboxes()" />
                        </th>
                        <th scope="col">Name</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Services</th>
                        <th scope="col">
                            <div class="infocircle">
                                <div class="infocircle">
                                    Status
                                    <div class="custom-tooltip">
                                        <ng-icon name="heroInformationCircle" ngClass="edit-action info-circle" (click)="toggleTooltip('1')"></ng-icon>
                                        <div class="toast show" *ngIf="showTooltip['1']">
                                            <div class="toast-header">
                                                <img [src]="baseUrl + '/assets/images/icons/Add-new-question.png'" class="rounded me-2" width="30" height="30" />
                                                <h6 class="mb-0 me-auto">Status: Active, Deactive</h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="hideTooltip('1')"></button>
                                            </div>
                                            <div class="toast-body">
                                                Here is the current status of the aid you have requested. If the aid is active, it means that it is still being processed. If the aid is deactivated, it means that our support team has closed the request.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of UserData">
                        <td><input type="checkbox" [ngClass]="'form-check-input'" [(ngModel)]="item.selected" /></td>
                        <td><span>{{ item.name }}</span></td>
                        <td>{{ item.projectType }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.mobile }}</td>
                        <td><span *ngFor="let service of item.expertAidServices">
                                <ul>
                                    <li>
                                        {{ service.name }}
                                    </li>
                                </ul>
                            </span></td>
                        <!-- <td [ngClass]="'done status'"><span>{{item.status}}</span></td> -->
                        <td
                            [ngClass]="{'done donestatus': item.status === 'ACT', 'paused status': item.status !== 'ACT'}">
                            <span>{{ item.status === 'ACT' ? 'Active' : 'Deactive' }}</span>
                        </td>
                        <td [ngClass]="'action'">
                            <div class="form-check form-switch">
                                <!-- <input class="form-check-input" type="checkbox" role="switch"
                                    [ngModel]="item.isChecked ? 1 : 0"
                                    (ngModelChange)="updateStatus(item.id, $event == 1 ? 'ACT' : 'Other')" /> -->
                                <input class="form-check-input" type="checkbox" role="switch"
                                    [ngModel]="item.status === 'ACT'"
                                    (ngModelChange)="updateStatus(item.id, $event == 1 ? 'ACT' : 'Other')" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>