<section class="page-error page--error">
    <!-- <div class="stars stars1"></div>
    <div class="stars stars2"></div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center py-5">
                <div class="position-relative">
                    <h2 class="mb-0">Oops! page not found</h2>
                    <!-- <h2 class="mb-0">ERROR</h2> -->
                    <img src="assets/images/error.png" alt="error image" class="img-fluid" width="500" height="333">
                    <h5>The page you are trying to access doesn’t exist or has been moved.</h5>
                    <h5 class="mb-4">Try going back to our homepage.</h5>
                    <a href="#" class="btn btn-common">Go to Home page</a>
                </div>
            </div>
        </div>
    </div>
</section>