/* error
.page--error .stars1 { background: url('../../assets/images/') no-repeat center;
    -webkit-animation: twinkle 2s linear infinite; -moz-animation: twinkle 2s linear infinite;
    animation: twinkle 2s linear infinite;}
    .page--error .stars2 { background: url('../../assets/images/star-2.png') no-repeat center;
        -webkit-animation: twinkle 4s linear infinite;  -moz-animation: twinkle 4s linear infinite;
        animation: twinkle 4s linear infinite;		}
    .page--error {  position: relative;height: calc(100vh - 86px);display: flex;  align-items: center;}  
    .page--error .stars {width: 100%;height: 100%;position: absolute;top: 0;left: 0;}  
    @keyframes twinkle{
        0% {   opacity: 1;}
        50% {   opacity: 0.2;}
        100% {   opacity: 1;}
    } */