<div ngClass="common-bg">
    <div ngClass="all-survey">
        <div ngClass="row common-heading">
            <div class="col-md-9">
                <h4>View All Users</h4>
                <p>Manage your Track Opinion "View All Users" page</p>
            </div>
            <div class="col-md-3">
                <div class="input-group flex-nowrap sort">
                    <span class="input-group-text" id="addon-wrapping">Sort By</span>
                    <select class="form-select" [(ngModel)]="selectedCategory">
                        <option selected value="All Roles">All Roles</option>
                        <option value="Admin">Admin</option>
                        <!-- <option value="2">Sub Admin</option> -->
                        <option value="SuperAdmin">Super Admin</option>
                        <option value="User">User</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" ngClass="form-check-input" [(ngModel)]="selectAll"
                                (change)="selectAllCheckboxes()" />
                        <th scope="col">Name</th>
                        <th scope="col">Role</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                        <!-- <th scope="col">Action</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of UserData"
                        [hidden]="selectedCategory !== 'All Roles' && getRoleName(item.roleId) !== selectedCategory">
                        <td><input type="checkbox" ngClass="form-check-input" [(ngModel)]="item.selected" />
                        </td>
                        <td>
                            <img [src]="item.image" class="me-2 rounded-circle" style="width: 30px;height: 30px;" />
                            <span>{{ item.firstName }} {{ item.lastName }}</span>
                        </td>
                        <td>{{ getRoleName(item.roleId) }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.contactNo }}</td>
                        <td>{{ item.createdDate | date:'dd-MM-yyyy | HH:mm' }}</td>
                        <!-- <td ngClass="done status"><span>{{item.status}}</span></td> -->
                        <td
                            [ngClass]="{'done donestatus': item.status === 'ACT', 'paused status': item.status !== 'ACT'}">
                            <span>{{ item.status === 'ACT' ? 'Active' : 'Deactive' }}</span>
                        </td>
                        <!-- <td ngClass="action">
                            <a routerLink="javascript:"><ng-icon name="heroPencil" ngClass="edit-action"></ng-icon></a>
                            <a routerLink="javascript:"><ng-icon name="heroEllipsisVertical"></ng-icon></a>
                        </td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>