<header class="dashboard-header sticky top-0">
    <div class="app-header">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="d-flex align-items-center">
                <div class="">
                    <button class="btn" type="button" (click)="themeService.toggle()"><ng-icon
                            name="heroBars3"></ng-icon></button>
                </div>
                <div class="search-bar">
                    <input type="text" class="form-control form-control-small" placeholder="Search Survey">
                    <ng-icon name="heroMagnifyingGlass" class="magnifyingicon"></ng-icon>
                </div>

            </div>
            <div class="d-flex align-items-center">
                <div class="position-relative d-inline-block">
                    <a routerLink="#"><ng-icon name="heroBell" class="bellicon"></ng-icon></a>
                </div>
                <div class="position-relative d-inline-block ms-4 dropdown">
                    <a routerLink="#" class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="object-fit-cover rounded-circle" src="./assets/images/profile/pic.png" width="45"
                            height="45" />
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item py-2" href="#">My Account</a></li>
                                <li><a class="dropdown-item py-2" href="#">Logout</a></li>
                            </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>