<header class="dashboard-header sticky top-0">
    <div class="app-header">
        <div class="d-flex justify-content-between align-items-center h-100">
            <div class="d-flex align-items-center">
                <div class="">
                    <button class="btn p-0" type="button" (click)="themeService.toggle()"><ng-icon
                            name="heroBars3"></ng-icon></button>
                </div>
            </div>
            <div class="search-bar ms-3">
                <!-- <input type="text" class="form-control form-control-small" placeholder="Search Survey">
                <ng-icon name="heroMagnifyingGlass" class="magnifyingicon"></ng-icon> -->
                <mat-form-field class="search-bar">
                    <input type="text" matInput [formControl]="surveyControl" placeholder="Search Survey"
                        [matAutocomplete]="auto">
                    <!-- <input type="text" matInput [formControl]="surveyControlform" placeholder="Search Survey"
                        [matAutocomplete]="auto" (keyup.enter)="search(surveyControlform.value)"> -->
                    <ng-icon name="heroMagnifyingGlass" class="magnifyingicon"></ng-icon>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSurveySelected($event)">
                        <mat-option *ngFor="let survey of filteredSurveys" [value]="survey.name">
                            {{ survey.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="d-flex align-items-center">
                <div class="position-relative d-inline-block">
                    <a routerLink="#"><ng-icon name="heroBell" class="bellicon"></ng-icon></a>
                </div>
                <!-- <div class="position-relative d-inline-block ms-4 dropdown">
                    <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img class="object-fit-cover rounded-circle" src="{{image}}" width="45" height="45" />
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item py-2" routerLink="/account/my-account">My Account</a></li>
                            <li><a class="dropdown-item py-2" routerLink="login" (click)="logOut()">Logout</a></li>
                        </ul>
                    </a>
                </div> -->
                <div class="position-relative d-inline-block ms-4 dropdown">
                    <ng-container *ngIf="image === null; else profileImage">
                        <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="me-2 rounded-circle defaultprofile">
                                {{ (firstName ? firstName.charAt(0) : '') + (lastName ? lastName.charAt(0) : '')
                                }}
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item py-2" routerLink="/account/my-account">My Account</a></li>
                                <li><a class="dropdown-item py-2" routerLink="login" (click)="logOut()">Logout</a></li>
                            </ul>
                        </a>
                    </ng-container>
                    <ng-template #profileImage>
                        <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">

                            <img class="object-fit-cover rounded-circle" [src]="image" width="45" height="45" />
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item py-2" routerLink="/account/my-account">My Account</a></li>
                                <li><a class="dropdown-item py-2" routerLink="login" (click)="logOut()">Logout</a></li>
                            </ul>
                        </a>
                    </ng-template>
                </div>

            </div>
        </div>
    </div>
</header>