<div>
    <div class="card card-color p-lg-5 p-4 mb-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-8">
                <h3 class="text-light mb-3">Welcome Back, {{firstName}} {{lastName}}</h3>
                <p class="text-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                    commodo viverra maecenas
                    accumsan lacus vel facilisis. </p>
            </div>
            <!-- <div class="col-md-4 text-lg-end mt-lg-0 mt-3">
                <a href="javascript:void(0);" (click)="onAddNewSurveyClick()" class="btn btn-primary btn-lg">Add New
                    Survey <ng-icon class="ms-3" name="heroArrowLongRight"></ng-icon></a>
            </div> -->
            <div class="col-md-4 text-lg-end mt-lg-0 mt-3">
                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add_new_survey"
                    class="btn btn-primary btn-lg">Add New
                    Survey <ng-icon class="ms-3" name="heroArrowLongRight"></ng-icon></a>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <h4 class="mb-3">Recent Survey</h4>
        <div class="row">
            <div class="col-md-6" *ngFor="let list of surveylist">
                <!-- The slice(-4) method extracts the last four elements, and reverse() reverses the order to display the most recent ones first -->
                <div class="card p-3 ps-5 mb-4"
                    [ngClass]="{'recent-project-list': true, 'online': list.status === 'ACT', 'offline': list.status !== 'ACT'}">
                    <div class="d-flex justify-content-between">
                        <!-- <div class="col-md-8">
                            <h4 class="mb-2">{{ list.name }}</h4>
                            <h5 class="mb-2">

                                <a style="color: #000;" *ngIf="list.status !== 'ACT' && list.status !== 'HOL'"
                                    [routerLink]="'/survey/manage-survey/' + (list.surveyId | encrypt)"
                                    href="javascript:">
                                    {{ list.name }}
                                </a>
                            </h5>
                        </div> -->
                        <div class="col-md-8">
                            <h5 class="mb-2">
                                <ng-container *ngIf="list.status !== 'ACT' && list.status !== 'HOL'; else disabledLink">
                                    <a style="color: #000;"
                                        [routerLink]="'/survey/manage-survey/' + (list.surveyId | encrypt)"
                                        href="javascript:">
                                        {{ list.name }}
                                    </a>
                                </ng-container>
                                <ng-template #disabledLink>
                                    <span style="color: #888;">{{ list.name }}</span>
                                </ng-template>
                            </h5>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="tags"
                                [ngClass]="{'green-tag': list.status === 'ACT', 'orange-tag': list.status !== 'ACT'}">
                                {{ list.status === 'ACT' ? 'Survey' : 'Pause' }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <p class="text-body-tertiary small mb-0">Last Updated by <Strong>{{ list.userName
                                    }}</Strong> {{ list.createdDate | date: 'yyyy-MM-dd' }}</p>
                        </div>
                        <!-- <div class="col-md-4 text-end">
                            <div class="responses small">Total Responses <strong>263</strong></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="card">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    <h4 class="mb-2">Sessions Overview</h4>
                    <p>25/09/2023 - 25/10/2023</p>
                </div>
                <div class="col-md-6 text-end">
                    <div class="row">
                        <div class="col">
                            <select class="form-select">
                                <option selected>Open this select menu</option>
                                <option value="1">Online Survey</option>
                                <option value="2">Offline Survey</option>
                            </select>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-primary">Download CSV <ng-icon class="ms-3"
                                    name="heroArrowLongRight"></ng-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            <canvas id="canvas">{{chart}}</canvas>
        </div>
    </div>
</div>

<!-- <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Your New Survey</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body popup-ques">
        <form>
            <div class="mb-4">
                <label for="surveyname" class="form-label">Enter your Survey Name</label>
                <div class="input-group">

                    <input id="surveyname" type="text" class="form-control" placeholder="ED-Tech Brand Ranking" />
                </div>
            </div>
            <div class="mb-4">
                <label for="category" class="form-label">Select Survey Category</label>
                <input type="search" id="category" placeholder="Search for Categories" class="form-control">
            </div>
        </form>
    </div>
    <div class="modal-footer upload">
        <button type="button" class="btn">Cancel</button>
        <button type="button" class="btn btn-primary d-flex" (click)="modal.close('Save click')">Create <ng-icon
                class="ms-5" name="heroArrowLongRight"></ng-icon>
        </button>
    </div> -->
<div class="modal center-aligned-modal fade" id="add_new_survey" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Your New Survey</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body popup-ques">
                <form>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Enter Your Survey Name</label>
                        <input id="surveyname" type="text" class="form-control" [(ngModel)]="surveyName"
                            name="surveyName" (blur)="validateSurvey()" />
                        <div *ngIf="!surveyNameCheck" class="text-danger">Survey Name is required.</div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Select Your Country</label>
                        <mat-form-field>
                            <mat-select name="countryString" [(value)]="selectedCountry" placeholder="Country">
                                <mat-select-trigger>
                                    <img *ngIf="selectedCountry && selectedCountry.images"
                                        [src]="baseUrl + '/assets/images/country-flag/' + selectedCountry.images"
                                        class="me-2 rounded-circle" style="width: 30px;height: 30px;" />
                                    {{selectedCountry ? selectedCountry.name : ''}}
                                </mat-select-trigger>
                                <mat-option *ngFor="let item of country" [value]="item">
                                    <img *ngIf="item.images"
                                        [src]="baseUrl + '/assets/images/country-flag/' + item.images"
                                        class="me-2 rounded-circle" style="width: 30px;height: 30px;" />
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div *ngIf="!countryNameCheck" class="text-danger">Country is required.</div>
                    </div>
                    <div class="mb-4 search-categories input-icon">
                        <label class="form-label">Select Survey Categories</label>
                        <mat-form-field>
                            <ng-icon name="heroMagnifyingGlass" class=""></ng-icon>
                            <input type="text" placeholder="Search..." matInput [formControl]="searchControl"
                                [matAutocomplete]="auto" [(ngModel)]="selectedOption" (blur)="validateSurvey()" />
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterOptions($event)">
                                <mat-option *ngFor="let option of options" [value]="option.id">
                                    {{ option.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <div *ngIf="!categoryNameCheck" class="text-danger">Category is required.</div>
                    </div>
                    <div class="mb-4" *ngIf="selectedOption === 'Others'">
                        <label for="categoryName" class="form-label">Enter Category Name</label>
                        <input id="categoryName" type="text" class="form-control" [(ngModel)]="categoryName"
                            name="categoryName" (blur)="validateSurvey()" />
                        <div *ngIf="!otherCategoryCheck" class="text-danger">Category Name is required.</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer upload">
                <button type="button" class="btn close" (click)="close()">Cancel</button>
                <a href="javascript:void(0);" type="button" class="btn btn-primary icon"
                    (click)="createSurvey();">Create
                    <ng-icon name="heroArrowLongRight" class="ms-4"></ng-icon>
                </a>
            </div>
        </div>
    </div>
</div>

<app-create-survey-popup #CreateSurveyModal></app-create-survey-popup>