<div>
    <div class="card card-color p-5 mb-5">
        <div class="d-flex align-items-center justify-content-between">
            <div class="col-md-8">
                <h3 class="text-light mb-3">Welcome Back, Rishabh Rawat</h3>
                <p class="text-light mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                    commodo viverra maecenas
                    accumsan lacus vel facilisis. </p>
            </div>
            <div class="col-md-4 text-end">
                <a href="#" class="btn btn-primary btn-lg">Create Project <ng-icon class="ms-3"
                        name="heroArrowLongRight"></ng-icon></a>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <h4 class="mb-3">Recent Projects</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card p-3 ps-5 mb-4 recent-project-list online">
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <h4 class="mb-2">Engagement Survey</h4>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="tags">Servey</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <p class="text-body-tertiary small mb-0">Last Updated by <u><a href="#">Rishabh
                                        Rawat</a></u> 7 minutes ago</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="responses small">Total Responses <strong>263</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-3 ps-5 mb-4 recent-project-list online">
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <h4 class="mb-2">Engagement Survey</h4>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="tags">Servey</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <p class="text-body-tertiary small mb-0">Last Updated by <u><a href="#">Rishabh
                                        Rawat</a></u> 7 minutes ago</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="responses small">Total Responses <strong>263</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-3 ps-5 mb-4 recent-project-list online">
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <h4 class="mb-2">Engagement Survey</h4>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="tags">Servey</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <p class="text-body-tertiary small mb-0">Last Updated by <u><a href="#">Rishabh
                                        Rawat</a></u> 7 minutes ago</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="responses small">Total Responses <strong>263</strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-3 ps-5 mb-4 recent-project-list offline">
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <h4 class="mb-2">Engagement Survey</h4>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore.</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="tags">Pause</div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="col-md-8">
                            <p class="text-body-tertiary small mb-0">Last Updated by <u><a href="#">Rishabh
                                        Rawat</a></u> 7 minutes ago</p>
                        </div>
                        <div class="col-md-4 text-end">
                            <div class="responses small">Total Responses <strong>263</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-5">
        <div class="card">
            <div class="d-flex align-items-center justify-content-between">
                <div class="col-md-6">
                    <h4 class="mb-3">Sessions Overview</h4>
                    <p>25/09/2023 - 25/10/2023</p>
                </div>
                <div class="col-md-6 text-end">
                    <div class="row">
                        <div class="col">
                            <select class="form-select">
                                <option selected>Open this select menu</option>
                                <option value="1">Online Survey</option>
                                <option value="2">Offline Survey</option>
                            </select>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-primary">Download CSV <ng-icon class="ms-3"
                                    name="heroArrowLongRight"></ng-icon></a>
                        </div>
                    </div>
                </div>
            </div>
            <canvas id="canvas">{{chart}}</canvas>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Your New Survey</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-4">
                <label for="surveyname" class="form-label">Enter your Survey Name</label>
                <div class="input-group">
                    <input id="surveyname" type="text" class="form-control" placeholder="ED-Tech Brand Ranking" />
                </div>
            </div>
            <div class="mb-4">
                <label for="category" class="form-label">Select Survey Category</label>
                <input type="search" id="category" placeholder="Search for Categories" class="form-control">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn">Cancel</button>
        <button type="button" class="btn btn-primary d-flex" (click)="modal.close('Save click')">Create <ng-icon
                class="ms-3" name="heroArrowLongRight"></ng-icon>
        </button>
    </div>
</ng-template>