<div ngClass="survey">
    <div ngClass="add-ques-sidebar">
        <div>
            <h6 class="mb-3">Add Question</h6>
            <div class="common-ques">
                <a routerLink="javascript:">
                    <figure><img src="../../../assets/images/icons/Add-new-question.png" width="37" height="30" />
                    </figure>
                    <figcaption>Add New Question</figcaption>
                </a>
            </div>
        </div>
        <div ngClass="generic-ques">
            <h6 class="mb-3">Add Generic Question</h6>
            <ul>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/gender.png" width="32" height="30" /></figure>
                        <figcaption>Gender</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/age.png" width="28" height="30" /></figure>
                        <figcaption>Age</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/nccs.png" width="30" height="30" /></figure>
                        <figcaption>NCCS</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/monthly-income.png" width="32" height="30" />
                        </figure>
                        <figcaption>Monthly Income</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/household-income.png" width="30" height="30" />
                        </figure>
                        <figcaption>Household Income</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/family-member.png" width="28" height="30" />
                        </figure>
                        <figcaption>Family Member</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/number-of-child.png" width="16" height="30" />
                        </figure>
                        <figcaption>No. of Child</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/working-status.png" width="25" height="30" />
                        </figure>
                        <figcaption>Working Status</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:" (click)="openFullscreen(content)">
                        <figure><img src="../../../assets/images/icons/city.png" width="31" height="30" /></figure>
                        <figcaption>City</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/age-of-children.png" width="30" height="30" />
                        </figure>
                        <figcaption>Age of Children</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/old-SEC.png" width="30" height="30" /></figure>
                        <figcaption>Old SEC</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/industry.png" width="30" height="30" /></figure>
                        <figcaption>Industry</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure></figure>
                        <figcaption>New F-LSM</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure></figure>
                        <figcaption>M-SLM</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure></figure>
                        <figcaption>S-LSM</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/language.png" width="30" height="30" /></figure>
                        <figcaption>Language</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/geo-location.png" width="31" height="30" />
                        </figure>
                        <figcaption>Geo Location</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/marital-status-new.png" width="31" height="30" />
                        </figure>
                        <figcaption>Marital Status New</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/industry.png" width="31" height="30" /></figure>
                        <figcaption>Industry Respondant</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/industry-household.png" width="31" height="30" />
                        </figure>
                        <figcaption>Industry Household</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/location.png" width="31" height="30" /></figure>
                        <figcaption>Locality</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/foreign-country-trevelled.png" width="31"
                                height="30" /></figure>
                        <figcaption>Foreign Country Travelled</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/languages-you-know.png" width="31" height="30" />
                        </figure>
                        <figcaption>Language You Know</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/home-area-type.png" width="31" height="30" />
                        </figure>
                        <figcaption>Home Area Type</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/kids-count.png" width="31" height="30" />
                        </figure>
                        <figcaption>Kids + Count</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="" width="31" height="30" /></figure>
                        <figcaption>Old F-LSM</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="" width="31" height="30" /></figure>
                        <figcaption>SEC (BN/SL/NPL)</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/store.png" width="31" height="30" /></figure>
                        <figcaption>Store</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/selfie.png" width="31" height="30" /></figure>
                        <figcaption>Selfie</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/accomodation-type.png" width="31" height="30" />
                        </figure>
                        <figcaption>Accomodation Type</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/home-accessories.png" width="31" height="30" />
                        </figure>
                        <figcaption>Home Accessories</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/name.png" width="31" height="30" /></figure>
                        <figcaption>Name</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/email-address.png" width="31" height="30" />
                        </figure>
                        <figcaption>Email Address</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/pincode.png" width="31" height="30" /></figure>
                        <figcaption>Pincode</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/audio-gender-detection.png" width="31"
                                height="30" /></figure>
                        <figcaption>Audio Gender Detection</figcaption>
                    </a>
                </li>
                <li>
                    <a routerLink="javascript:">
                        <figure><img src="../../../assets/images/icons/state.png" width="31" height="30" /></figure>
                        <figcaption>State</figcaption>
                    </a>
                </li>
            </ul>
        </div>
        <div ngClass="my-3">
            <h6 class="mb-3">Add Screen</h6>
            <div class="common-ques">
                <a routerLink="javascript:">
                    <figure><img src="../../../assets/images/icons/Add-new-screen.png" width="37" height="30" />
                    </figure>
                    <figcaption>Add New Screen</figcaption>
                </a>
            </div>
        </div>
        <div ngClass="my-3">
            <h6 class="mb-3">Add Logic</h6>
            <div class="common-ques">
                <a routerLink="javascript:">
                    <figure><img src="../../../assets/images/icons/Add-new-logic.png" width="30" height="30" /></figure>
                    <figcaption>Add New Logic</figcaption>
                </a>
            </div>
        </div>
    </div>
    <div ngClass="survey-question">
        <div ngClass="survey-name">
            <div>
                <h4 ngClass="mb-3">Ed-Tech Brand Ranking Survey</h4>
                <span>Cosmetics, Personal Care, Toiletries</span>
            </div>
            <a routerLink="javascript:" (click)="open(Editsurvey)"><ng-icon name="heroPencilSquare"></ng-icon></a>
        </div>
        <div ngClass="question">
            <ul cdkDropList (cdkDropListDropped)="onItemDrop($event)">
                <li cdkDrag (cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()">
                    <div class="drag-item">
                        <div ngClass="ques-header">
                            <h5 ngClass="mb-0"><ng-icon name="heroArrowsPointingOut"></ng-icon> Page 1</h5>
                            <div class="nav-item dropdown">
                                <a class="nav-link" routerLink="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <ng-icon name="heroEllipsisVertical"></ng-icon>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" routerLink="/edit-survey"><ng-icon
                                                name="heroPencil"></ng-icon>Edit</a></li>
                                    <li><a class="dropdown-item" routerLink="#"><ng-icon
                                                name="heroDocumentDuplicate"></ng-icon>Clone</a></li>
                                    <li><a class="dropdown-item delete-hover" routerLink="#"><ng-icon
                                                name="heroTrash"></ng-icon>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div ngClass="ques-body p-4">
                            <h5 ngClass="mb-4">Which city do you currently live in?</h5>
                            <div ngClass="ques-ans">
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vishakhapatnam</span></label>
                                </div>
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vijaywada</span></label>
                                </div>
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vijaywada</span></label>
                                </div>
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vijaywada</span></label>
                                </div>
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vijaywada</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li cdkDrag (cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()">
                    <div class="drag-item">
                        <div ngClass="ques-header">
                            <h5 ngClass="mb-0"><ng-icon name="heroArrowsPointingOut"></ng-icon> Page 2</h5>
                            <div class="nav-item dropdown">
                                <a class="nav-link" routerLink="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <ng-icon name="heroEllipsisVertical"></ng-icon>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" routerLink="/edit-survey"><ng-icon
                                                name="heroPencil"></ng-icon>Edit</a></li>
                                    <li><a class="dropdown-item" routerLink="#"><ng-icon
                                                name="heroDocumentDuplicate"></ng-icon>Clone</a></li>
                                    <li><a class="dropdown-item delete-hover" routerLink="#"><ng-icon
                                                name="heroTrash"></ng-icon>Delete</a></li>
                                </ul>
                            </div>

                        </div>
                        <div ngClass="ques-body p-4">
                            <h5 ngClass="mb-4">Please select your gender</h5>
                            <div ngClass="ques-ans">
                                <div class="ques-radio">
                                    <label> <input type="radio" name="gender">
                                        <span class="checked">Male</span></label>
                                </div>
                                <div class="ques-radio">
                                    <label> <input type="radio" name="gender">
                                        <span class="checked">Female</span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li cdkDropList cdkDrag (cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()">
                    <div class="drag-item">
                        <div ngClass="ques-header">
                            <h5 ngClass="mb-0"><ng-icon name="heroArrowsPointingOut"></ng-icon> Page 3</h5>
                            <div class="nav-item dropdown">
                                <a class="nav-link" routerLink="#" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <ng-icon name="heroEllipsisVertical"></ng-icon>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" routerLink="/edit-survey"><ng-icon
                                                name="heroPencil"></ng-icon>Edit</a></li>
                                    <li><a class="dropdown-item" routerLink="#"><ng-icon
                                                name="heroDocumentDuplicate"></ng-icon>Clone</a></li>
                                    <li><a class="dropdown-item delete-hover" routerLink="#"><ng-icon
                                                name="heroTrash"></ng-icon>Delete</a></li>
                                </ul>
                            </div>

                        </div>
                        <div ngClass="ques-body p-4">
                            <h5 ngClass="mb-4">Please enter your age in completed years</h5>
                            <div>
                                <input type="date" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div ngClass="drag-ques">
            <div>
                <ng-icon name="heroArrowUpTray"></ng-icon>
                <p>Create your New Question with Drag and Drop Option</p>
                <span>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.</span>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">List of State & City</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-4">
                <label for="surveyname" class="form-label">Search your State & City</label>
                <div class="input-group">
                    <input id="surveyname" type="text" class="form-control" placeholder="Type to Search" />
                </div>
            </div>
            <div class="mb-4">
                <label class="form-label">Filter</label>
                <div ngClass="state-city">
                    <div class="select-radio">
                        <label> <input type="radio" name="state">
                            <span class="checked">select Country</span></label>
                    </div>
                    <div class="select-radio">
                        <label> <input type="radio" name="state" checked>
                            <span class="checked">Select State</span></label>
                    </div>
                    <div class="select-radio">
                        <label> <input type="radio" name="state">
                            <span class="checked">Pan India</span></label>
                    </div>
                </div>
            </div>
            <div ngClass="mb-4">
                <div ngClass="select-state">
                    <h5>Select State & City</h5>
                    <a routerLink="javascript:">Select All</a>
                </div>
                <div ngClass="states">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ADP" checked>
                        <label class="form-check-label" for="ADP">
                            Andhra Pradesh
                        </label>
                        <div ngClass="cities">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="Vishakhapatnam" checked>
                                <label class="form-check-label" for="Vishakhapatnam">
                                    Vishakhapatnam
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="Eluru">
                                <label class="form-check-label" for="Eluru">
                                    Eluru
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="Vijaywada">
                                <label class="form-check-label" for="Vijaywada">
                                    Vijaywada
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="Ongole">
                                <label class="form-check-label" for="Ongole">
                                    Ongole
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ACP">
                        <label class="form-check-label" for="AP">
                            Arunachal Pradesh
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="asam">
                        <label class="form-check-label" for="asam">
                            Asam
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary w-100" (click)="modal.close('Close click')">Continue</button>
    </div>
</ng-template>

<ng-template #Editsurvey let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Create Your New Survey</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-4">
                <label for="surveyname" class="form-label">Enter Your Survey Name</label>
                <input id="surveyname" type="text" class="form-control" Value="Ed-Tech Brand Ranking" />
            </div>
            <div class="mb-4">
                <label class="form-label">Select Survey Categories</label>
                <!-- <input type="search" class="form-control" placeholder="Search for Categories" value="Cosmetics, Personal care" /> -->
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Search..." matInput [formControl]="searchControl"
                        [matAutocomplete]="auto" />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="modal.close('Close click')">Cancel</button>
        <a routerLink="javascript:" type="button" class="btn btn-primary" (click)="modal.close('Close click')">Update
            <ng-icon name="heroArrowLongRight"></ng-icon></a>
    </div>
</ng-template>