<div ngClass="survey">
    <div ngClass="add-ques-sidebar">
        <div>
            <h6 class="mb-3">Add Question</h6>
            <div class="common-ques">
                <a href="javascript:void(0);" (click)="openLg(content)">
                    <figure><img src="../../../assets/images/icons/Add-new-question.png" width="35" height="35" />
                    </figure>
                    <figcaption>Add New Question</figcaption>
                </a>
            </div>
        </div>
        <div ngClass="generic-ques">
            <h6 class="mb-3">Add Generic Question</h6>
            <ul>
                <li *ngFor="let item of names">
                    <a href="javascript:" (click)="onGenericQuestionClick(item.name)">
                        <figure>
                            <img src="../../../assets/{{item.image}}" width="35" height="35" />
                        </figure>
                        <figcaption>{{ item.name }}</figcaption>
                    </a>
                </li>
            </ul>
        </div>
        <div ngClass="my-3">
            <h6 class="mb-3">Add Screen</h6>
            <div class="common-ques">
                <a routerLink="javascript:">
                    <figure><img src="../../../assets/images/icons/Add-new-screen.png" width="35" height="35" />
                    </figure>
                    <figcaption>Add New Screen</figcaption>
                </a>
            </div>
        </div>
        <div ngClass="my-3">
            <h6 class="mb-3">Add Logic</h6>
            <div class="common-ques">
                <a routerLink="javascript:">
                    <figure><img src="../../../assets/images/icons/Add-new-logic.png" width="35" height="35" />
                    </figure>
                    <figcaption>Add New Logic</figcaption>
                </a>
            </div>
        </div>
    </div>
    <div ngClass="survey-question">
        <div ngClass="survey-name">
            <div>
                <h4 ngClass="mb-3">{{surveyName}}</h4>
                <span>{{categoryName}}</span>
            </div>
            <a  (click)="openLg(sidecontent)"><ng-icon name="heroPencilSquare"></ng-icon></a>
        </div>
        <div ngClass="question">
            <ul cdkDropList (cdkDropListDropped)="onItemDrop($event)">
                <li cdkDrag (cdkDragStarted)="onDragStarted()" (cdkDragEnded)="onDragEnded()"
                    *ngFor="let question of questions;let i=index;">
                    <div class="drag-item">
                        <div ngClass="ques-header">
                            <h5 ngClass="mb-0"><ng-icon name="heroArrowsPointingOut"></ng-icon> Question {{i + 1}}</h5>
                            <div class="nav-item dropdown">
                                <a class="nav-link" href="javascript:void(0);" id="navbarDropdownMenuLink" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <ng-icon name="heroEllipsisVertical"></ng-icon>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item">
                                            <ng-icon name="heroPencil" (click)="onEditQuestionClick(question?.id)"></ng-icon>
                                            Edit
                                        </a>
                                    </li>
                                    <li><a class="dropdown-item" routerLink="#"><ng-icon
                                                name="heroDocumentDuplicate"></ng-icon>Clone</a></li>
                                    <li><a class="dropdown-item delete-hover" routerLink="#"><ng-icon
                                                name="heroTrash"></ng-icon>Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div ngClass="ques-body p-4">
                            <h5 ngClass="mb-4">{{question?.question}}</h5>
                            <!-- <div ngClass="ques-ans" *ngFor="let option of questions?.options">
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">{{option}}</span></label>
                                </div>
                            </div> -->
                            <div ngClass="ques-ans">
                                <div class="ques-radio" *ngFor="let question of question?.options;let i=index;">
                                    <label> <input type="radio" [id]="'question_option_' + i" name="question_option">
                                        <span class="checked">{{question.option}}</span></label>
                                </div>
                                <!-- <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vijaywada</span></label>
                                </div>
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vijaywada</span></label>
                                </div>
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vijaywada</span></label>
                                </div>
                                <div class="ques-radio">
                                    <label> <input type="radio" name="city">
                                        <span class="checked">Vijaywada</span></label>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div ngClass="drag-ques">
            <div cdkDrag>
                <ng-icon name="heroArrowUpTray"></ng-icon>
                <p>Create your New Question with Drag and Drop Option</p>
                <span>It is a long established fact that a reader will be distracted by the readable content of a
                    page
                    when looking at its layout.</span>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select Question Type</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body popup-ques">
        <div ngClass="update-ques-type generic-ques">
            <ul>
                <li *ngFor="let ques of question">
                    <a [ngClass]="{'active':(ques.id === selectedQuestionType)}" href="javascript:void(0);"
                        (click)="onQuestionTypeClick(ques.id)">
                        <figure>
                            <img loading="lazy" src="../../../assets/{{ques.image}}" width="38" height="30" />
                        </figure>
                        <figcaption>
                            {{ ques.type }}
                            <br />
                            <small>{{ ques.subType }}</small>
                        </figcaption>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer upload">
        <button type="button" class="btn close" (click)="modal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-primary icon"
            (click)="onCreateQuesClick();modal.close('Close click')">Create
            <ng-icon name="heroArrowLongRight" class="ms-4"></ng-icon>
        </button>
    </div>
</ng-template>

<ng-template #sidecontent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Create Your New Survey</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body popup-ques">
        <form>
            <div class="mb-4">
                <label for="surveyname" class="form-label">Enter Your Survey Name</label>
                <input id="surveyname" type="text" class="form-control" name="surveyName"
                    [(ngModel)]="surveyName"  [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="mb-4" class="search-categories input-icon">
                <label class="form-label">Select Survey Categories</label>
                <mat-form-field>
                    <ng-icon name="heroMagnifyingGlass" class=""></ng-icon>
                    <input type="text" placeholder="Search..." matInput [formControl]="searchControl"
                        [matAutocomplete]="auto" [(ngModel)]="categoryName" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="filterOptions($event)">
                        <mat-option *ngFor="let option of options" [value]="option.id">
                            {{ option.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

        </form>
    </div>
    <div class="modal-footer upload">
        <button type="button" class="btn close" (click)="modal.close('Close click')">Cancel</button>
        <a href="javascript:void(0);"  type="button" class="btn btn-primary icon"
            (click)="updateSurvey();modal.close('Close click')">Update
            <ng-icon name="heroArrowLongRight" class="ms-4"></ng-icon></a>
    </div>
</ng-template>

<app-gender-popup #GenderModal></app-gender-popup>
<app-age-popup #AgeModal></app-age-popup>
<app-nccs-popup #NccsModal></app-nccs-popup>
<app-monthly-income-popup #MonthlyIncomeModal></app-monthly-income-popup>
<app-household #HouseholdModal></app-household>
<app-family-member-popup #FamilyMemberModal></app-family-member-popup>
<app-no-of-child-popup #NumberOfChildModal></app-no-of-child-popup>
<app-working-status-popup #WorkingStatusModal></app-working-status-popup>
<app-city-popup #CityModal></app-city-popup>
<app-age-of-children-popup #AgeOfChildrenModal></app-age-of-children-popup>
<app-old-sec-popup #OldSecModal></app-old-sec-popup>
<app-industry-popup #IndustryModal></app-industry-popup>
<app-new-f-lsm-popup #NewFLsmModal></app-new-f-lsm-popup>
<app-m-slm-popup #MSlmModal></app-m-slm-popup>
<app-s-lsm-popup #SLsmModal></app-s-lsm-popup>
<app-language-popup #LanguageModal></app-language-popup>
<app-geo-location-popup #GeoLocationModal></app-geo-location-popup>
<app-marital-status-new-popup #MartialStatusModal></app-marital-status-new-popup>
<app-industry-respondant-popup #IndustryRespondantModal></app-industry-respondant-popup>
<app-industry-household-popup #IndustryHouseholdModal></app-industry-household-popup>
<app-locality-popup #LocalityModal></app-locality-popup>
<app-foreign-country-travelled-popup #ForeignCountryTravelledModal></app-foreign-country-travelled-popup>
<app-store-popup #StoreModal></app-store-popup>
<app-language-you-know-popup #LanguageYouKnowModel></app-language-you-know-popup>
<app-home-area-type-popup #HomeAreaTypeModal></app-home-area-type-popup>
<app-kids-count-popup #KidsCountModal></app-kids-count-popup>
<app-old-f-lsm-popup #OldFLsmModal></app-old-f-lsm-popup>
<app-old-f-lsm-popup #OldFLsmModal></app-old-f-lsm-popup>
<app-sec-bn-sl-popup #SecBnSlNpl></app-sec-bn-sl-popup>
<app-selfie-popup #SelfieModal></app-selfie-popup>
<app-accomodation-type-popup #AccomodationTypeModal></app-accomodation-type-popup>
<app-home-accessories-popup #HomeAccessoriesModal></app-home-accessories-popup>
<app-name-popup #NameModal></app-name-popup>
<app-email-address-popup #EmailAddressModal></app-email-address-popup>
<app-pin-code-popup #PinCodeModal></app-pin-code-popup>
<app-audio-gender-detection-popup #AudioGenderDetectionModal></app-audio-gender-detection-popup>
<app-state-popup #StateModal></app-state-popup>