<div class="modal right-aligned-modal fade" bsModal #EmailAddressModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please select your Email Address</h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Enter Your Question</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                [value]="emailaddress && emailaddress.length > 0 ? emailaddress[0].question : ''" />
                        </div>
                    </div>
                    <div ngClass="mb-4">
                        <div ngClass="select-options">
                            <h5>Select Options</h5>
                            <!-- <a routerLink="javascript:">Select All</a> -->
                        </div>
                        <div>
                            <div ngClass="advancedoption mb-4">
                                <p>Input Type</p>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>input type</option>
                                    <option value="1">Text</option>
                                    <option value="2">E-mail</option>
                                </select>
                            </div>
                            <div ngClass="advancedoption mb-4">
                                <p>Max size</p>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>max size</option>
                                    <option value>0-10</option>
                                    <option value="1">10-20</option>
                                    <option value="2">20-30</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100">Continue</button>
            </div>
        </div>
    </div>
</div>