<div ngClass="common-bg">
    <div ngClass="all-survey">
        <div ngClass="row common-heading">
            <div class="col-md-12">
                <h4>Add New User</h4>
                <p>Manage your Track Opinion "Add New User" page</p>
            </div>
        </div>
        <div>
            <form>
                <div class="row">
                    <div class="mb-4">

                        <ngx-dropzone class="upload-user-pic" ngx-dropzone [accept]="'image/*'"
                            (change)="onSelect($event)">
                            <ngx-dropzone-label>
                                <img src="../../../assets/images/icons/attach-image.png" />
                            </ngx-dropzone-label>
                            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                                [file]="f" [removable]="true" (removed)="onRemove(f)">

                            </ngx-dropzone-image-preview>
                        </ngx-dropzone>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="">First Name</label>
                        <input type="text" name="" id="" class="form-control" [(ngModel)]="firstName" name="firstName">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="">Last Name</label>
                        <input type="text" name="" id="" class="form-control" [(ngModel)]="lastName" name="lastName">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="">Email</label>
                    <input type="email" name="" id="" class="form-control" [(ngModel)]="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="">Phone No.</label>
                    <input type="number" name="" id="" class="form-control" placeholder="+91-9876543218">
                </div>
                <div class="mb-3">
                    <label for="">Role</label>
                    <select class="form-select" name="roleId" [(ngModel)]="roleId">
                        <option selected>Select Role</option>
                        <option value="1">SuperAdmin</option>
                        <option value="2">Admin</option>
                        <option value="3">User</option>
                    </select>
                </div>
                <div class="text-end">
                    <button type="button" class="btn btn-primary" (click)="AddUser()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>