<div class="common-bg">
    <div ngClass="common-heading">
        <div class="col-md-12">
            <div class="infocircle justify-content-start">
                <h4>Add And Manage “About Us” Information for Your Brand at Scrip8</h4>
                <div class="custom-tooltip ms-2">
                    <ng-icon name="heroInformationCircle" ngClass="edit-action info-circle" (click)="toggleTooltip('1')"></ng-icon>
                    <div class="toast show" *ngIf="showTooltip['1']">
                        <div class="toast-header">
                            <img [src]="baseUrl + '/assets/images/icons/Add-new-question.png'" class="rounded me-2" width="30" height="30" />
                            <h6 class="mb-0 me-auto">About Us (Organization Related Page)</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" (click)="hideTooltip('1')"></button>
                        </div>
                        <div class="toast-body">
                            This feature enables you to add and tailor specific information and details about your organization.
                        </div>
                    </div>
                </div>
            </div>
            <p>Manage your Track "About us" Page</p>
        </div>
    </div>
    <div class="about">
        <form>
            <div class="mb-4">
                <label for="text" class="form-label">Title</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name" (blur)="validateSurvey()">
                <div *ngIf="!title" class="text-danger">Title is required.</div>
            </div>
            <div class="mb-4">
                <label for="text" class="form-label">Description</label>
                <ckeditor [editor]="Editor" [(ngModel)]="description" name="description" class="large-editor"
                    (blur)="validateSurvey()">
                </ckeditor>
                <div *ngIf="!descriptioninfo" class="text-danger">Description is required.</div>
            </div>
            <div class="mb-4">
                <label for="text" class="form-label">Upload Image</label>
                <ngx-dropzone (change)="onSelect($event)" [ngClass]="'drop-file'">
                    <ngx-dropzone-label>
                        <img [src]="baseUrl +'/assets/images/icons/attach-image.png'" />
                        <a href="javascript:"><u>Click to upload</u></a> <span> or drag and drop</span>
                        <p>Max. File Size: 15MB</p>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <img *ngIf="selectedImage" [src]="selectedImage" alt="Uploaded Image" />
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
            <div>
                <img [(ngModel)]="image" [src]="image" width="50%" />
            </div>
            <div class="text-end upload">
                <button type="button" class="btn btn-primary" (click)="postData()">Update <ng-icon
                        name="heroArrowLongRight" class="ms-5"></ng-icon></button>
            </div>
        </form>
    </div>
</div>