
<section class="d-flex align-items-center user-pages my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <app-loginForm></app-loginForm>                
            </div>
            <div class="col-lg-6 col-md-12 sliderPopup">
                <div class="login-slider h-100">
                    <owl-carousel-o [options]="LoginSlider">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img class="img-fluid" src="assets/images/slider/login-one.png" width="781"
                                    height="660">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img class="img-fluid" src="assets/images/slider/login-one.png" width="781"
                                    height="660">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <app-loader [display]="loading"></app-loader> -->