<div class="common-bg">
    <div ngClass="common-heading">
        <div class="col-md-12">
            <h4>Privacy Policy</h4>
            <p>Manage your Track "Privacy Policy" Page</p>
        </div>
    </div>
    <div class="about">
        <form>
            <div class="mb-4">
                <label for="text" class="form-label">Title</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name" (blur)="validateSurvey()">
                <div *ngIf="!title" class="text-danger">Title is required.</div>
            </div>
            <div class="mb-4">
                <label for="text" class="form-label">Description</label>
                <ckeditor [editor]="Editor" [(ngModel)]="description" name="description" class="large-editor"
                    (blur)="validateSurvey()">
                </ckeditor>
                <div *ngIf="!descriptioninfo" class="text-danger">Description is required.</div>
            </div>
            <div class="mb-4">
                <label for="text" class="form-label">Upload Image</label>
                <ngx-dropzone (change)="onSelect($event)" [ngClass]="'drop-file'">
                    <ngx-dropzone-label>
                        <img [src]="baseUrl+'/assets/images/icons/attach-image.png'" />
                        <a href="javascript:"><u>Click to upload</u></a> <span> or drag and drop</span>
                        <p>Max. File Size: 15MB</p>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
            <div class="text-end upload">
                <button type="button" class="btn btn-primary" (click)="postData()">Update <ng-icon
                        name="heroArrowLongRight" class="ms-5"></ng-icon></button>
            </div>
        </form>
    </div>
</div>