<div class="common-bg">
    <div ngClass="common-heading">
        <div class="col-md-12">
            <h4>Refine Your Surveys with Scrip8’s Expert Services</h4>
            <p>Manage your Survey with "Experts".</p>
        </div>
    </div>
    <div class="about expert-aid">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Services</th>
                    <th scope="col">Purchase</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Expert Programmer/Scripter</th>
                    <td><button type="button" class="btn btn-outline-primary btn-sm"
                            (click)="toggleCartItem('Expert Programmer/Scripter')"
                            [class.active]="isSelected('Expert Programmer/Scripter')">Add to Cart</button></td>
                </tr>
                <tr>
                    <th scope="row">Expert Analysis</th>
                    <td><button type="button" class="btn btn-outline-primary btn-sm"
                            (click)="toggleCartItem('Expert Analysis')"
                            [class.active]="isSelected('Expert Analysis')">Add to Cart</button></td>
                </tr>
                <tr>
                    <th scope="row">Report Writing</th>
                    <td><button type="button" class="btn btn-outline-primary btn-sm"
                            (click)="toggleCartItem('Report Writing')" [class.active]="isSelected('Report Writing')">Add
                            to Cart</button></td>
                </tr>

                <tr>
                    <th scope="row">Data Validation</th>
                    <td><button type="button" class="btn btn-outline-primary btn-sm"
                            (click)="toggleCartItem('Data Validation')"
                            [class.active]="isSelected('Data Validation')">Add to Cart</button></td>
                </tr>
                <tr>
                    <th scope="row">Purchase Responses</th>
                    <td><button type="button" class="btn btn-outline-primary btn-sm"
                            (click)="toggleCartItem('Purchase Responses')"
                            [class.active]="isSelected('Purchase Responses')">Add to Cart</button></td>
                </tr>
                <tr>
                    <th scope="row">Customizable Report</th>
                    <td><button type="button" class="btn btn-outline-primary btn-sm"
                            (click)="toggleCartItem('Customizable Report')"
                            [class.active]="isSelected('Customizable Report')">Add to Cart</button></td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><button type="button" class="btn btn-outline-primary btn-sm" (click)="openLg(form)"><ng-icon
                                name="heroShoppingBag"></ng-icon> ({{ selectedItems.length }})</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--  -->
<ng-template #form let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add to Cart</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body popup-ques">
        <form (submit)="onSaveExpertAid()">
            <div class="row">
                <!-- <div class="col-md-6 form-group mb-3">
                    <label>Full Name</label>
                    <input if="name" type="text" class="form-control" placeholder="Enter your full name"
                        [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (blur)="validateSurvey()">
                    <div *ngIf="!firstname" class="text-danger">Name is required.</div>
                </div> -->
                <div class="col-md-6 form-group mb-3">
                    <label>Full Name</label>
                    <input type="text" class="form-control" placeholder="Enter your full name" [(ngModel)]="name"
                        [ngModelOptions]="{standalone: true}" (blur)="validateSurvey()">
                    <div *ngIf="!name || !isValidName" class="text-danger">
                        <ng-container *ngIf="!name && touched">Name is required.</ng-container>
                        <ng-container *ngIf="name && !isValidName">Only alphabets are allowed.</ng-container>
                    </div>
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label>Project type</label>
                    <input type="text" class="form-control" placeholder="Enter your project type"
                        [(ngModel)]="projectType" [ngModelOptions]="{standalone: true}" (blur)="validateSurvey()">
                    <div *ngIf="!project" class="text-danger">Project Name is required.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group mb-3">
                    <label>Start date</label>
                    <input type="date" class="form-control" [(ngModel)]="startDate"
                        [ngModelOptions]="{standalone: true}" (blur)="validateSurvey()">
                    <div *ngIf="!date" class="text-danger">Date is required.</div>
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label>End date</label>
                    <input type="date" class="form-control" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}"
                        (blur)="validateSurvey()">
                    <div *ngIf="!enddate" class="text-danger">Date is required.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group mb-3">
                    <label>Email Id</label>
                    <input type="email" class="form-control" placeholder="Enter your email" [(ngModel)]="email"
                        [ngModelOptions]="{standalone: true}" (blur)="validateSurvey()">
                    <div *ngIf="!emailaddress" class="text-danger">Email is required.</div>
                </div>
                <!-- <div class="col-md-6 form-group mb-3">
                    <label>Phone Number</label>
                    <input type="number" class="form-control" placeholder="Enter your phone number" [(ngModel)]="mobile"
                        [ngModelOptions]="{standalone: true}" (blur)="validateSurvey()">
                    <div *ngIf="!phone" class="text-danger">Phone Number is required.</div>
                </div> -->
                <div class="col-md-6 form-group mb-3">
                    <label>Phone Number</label>
                    <input type="number" class="form-control" placeholder="Enter your phone number" [(ngModel)]="mobile"
                        [ngModelOptions]="{standalone: true}" (blur)="validateSurvey()">
                    <div *ngIf="!mobile || !phoneLengthError" class="text-danger">
                        <ng-container *ngIf="!mobile && touched">Phone Number is required.</ng-container>
                        <ng-container *ngIf="mobile && !phoneLengthError">Phone Number cannot exceed 15
                            digits.</ng-container>
                    </div>
                    <!-- <div *ngIf="!phone" class="text-danger">Phone Number is required.</div>
                    <div *ngIf="phoneLengthError" class="text-danger">Phone Number cannot exceed 15 digits.</div> -->
                </div>
            </div>
            <div class="form-group mb-3 services">
                <label>Selected Service</label>
                <!-- <mat-form-field class="form-control">
                    <mat-select #selectElement>
                        <mat-select-trigger>
                            {{ selectedItems.length ? selectedItems[0] : 'Select an item' }}
                        </mat-select-trigger>
                        <mat-option *ngFor="let service of selectedItems" [value]="service">
                            {{ service }}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->
                <!-- <mat-form-field>
                    <mat-label>Color</mat-label>
                    <mat-select [selectable]="selectable">
                        <mat-option value="Expert Programmer/Scripte">Expert Programmer/Scripter</mat-option>
                        <mat-option value="Expert Analysis">Expert Analysis</mat-option>
                        <mat-option value="Report Writing">Report Writing</mat-option>
                        <mat-option value="Data Validation">Data Validation</mat-option>
                        <mat-option value="Purchase Responses"
                            [class.active]="selectedItems1('Purchase Responses')">Purchase Responses</mat-option>
                        <mat-option value="Customizable Report">Customizable Report</mat-option>
                    </mat-select>
                </mat-form-field> -->

                <div class="form-control mark">
                    <mat-chip-list>
                        <mat-chip class="serviceoption" *ngFor="let service of selectedItems" [selectable]="selectable"
                            [removable]="removable" (removed)="removeFromCart(service)"
                            (click)="toggleService(service)">
                            {{ service }}
                            <mat-icon matChipRemove *ngIf="removable"><ng-icon name="heroXMark"></ng-icon></mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <div *ngIf="selectedItems.length === 0" class="text-danger">Service is required</div>
                </div>


            </div>
            <div class="form-group mb-3">
                <label>Message (Max Limit: 250 words)</label>
                <textarea name="" class="form-control" rows="5" [(ngModel)]="comments"
                    [ngModelOptions]="{standalone: true}" (blur)="validateSurvey()"></textarea>
                <div *ngIf="!message" class="text-danger">Message is required</div>
                <div *ngIf="!validMessageLength" class="text-danger">Message should be 250
                    words or less</div>

                <!-- <div *ngIf="!message" class="text-danger">Message is required</div>
                <div *ngIf="message && countWords(comments) > 250" class="text-danger">Message should be at most 250
                    words</div> -->
            </div>
            <div class="text-end"><button type="submit" class="btn btn-primary">Submit</button></div>
        </form>
    </div>

</ng-template>