<app-header *ngIf="headerVisible" [class.addMargin]="themeService.addMargin"></app-header>
<app-sidebar *ngIf="navbarVisible" [class.addwidth]="themeService.addwidth"></app-sidebar>
<article *ngIf="visibilityService.articleVisible.value; else elseBlock;"
    [class.dashboardMargin]="themeService.dashboardMargin">
    <app-breadcrumb *ngIf="breadcrumbVisible" [class.addMargin]="themeService.addMargin"></app-breadcrumb>
    <router-outlet></router-outlet>
</article>
<ng-template #elseBlock>
    <router-outlet></router-outlet>
</ng-template>