<app-header *ngIf="headerVisible" [class.addMargin]="themeService.addMargin"></app-header>
<div *ngIf="loaderservice.isLoading | async" class="loader"><img class="img-fluid"
        src="./assets/images/logo/logo-GIF.gif" width="100" height="50" priority></div>
<!-- Your component template -->
<!-- your-component-template.html -->

<app-sidebar *ngIf="navbarVisible" [class.addwidth]="themeService.addwidth"
    [class.hoveraddwidth]="themeService.hoveraddwidth" (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"></app-sidebar>



<article *ngIf="visibilityService.articleVisible.value; else elseBlock;"
    [class.dashboardMargin]="themeService.dashboardMargin">
    <app-breadcrumb *ngIf="breadcrumbVisible" [class.addMargin]="themeService.addMargin"></app-breadcrumb>
    <router-outlet></router-outlet>
</article>
<ng-template #elseBlock>
    <router-outlet></router-outlet>
</ng-template>

<!-- 
<ng-template #content let-modal>
    <div class="modal-body popup-login">
        <app-loginForm></app-loginForm>
    </div>
</ng-template> -->