<aside class="sidebar-wrapper bg-white shadow-base">
    <div class="logo-segment">
        <a href="#">
            <div class="logo-icon">
                <img class="img-fluid" src="./assets/images/logo/logo.png" width="272" height="77" priority>
            </div>
        </a>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li class="single-sidebar-menu">
                <div class="menulabel">menu</div>
            </li>
            <li class="single-sidebar-menu menu-item-active">
                <a class="menu-link active" href="#">
                    <span class="menu-icon flex-grow-0">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--heroicons-outline" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m3 12l2-2m0 0l7-7l7 7M5 10v10a1 1 0 0 0 1 1h3m10-11l2 2m-2-2v10a1 1 0 0 1-1 1h-3m-6 0a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1m-6 0h6"></path></svg>
                    </span>
                    <div class="text-box flex-grow">Dashboard</div>
                </a>
            </li>
            <li class="single-sidebar-menu">
                <div class="menulabel">Quick Links</div>
            </li>
            <li class="single-sidebar-menu item-has-children">
                <div class="menu-link collapsed">
                    <div class="flex-1 flex items-start">
                        <span class="menu-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--carbon" width="1em" height="1em" viewBox="0 0 32 32"><path fill="currentColor" d="m30 16l-8 8l-1.414-1.414L27.172 16l-6.586-6.586L22 8l8 8z"></path><path fill="currentColor" d="M16 22a.997.997 0 0 1-.707-.293l-5-5a1 1 0 0 1 0-1.414l5-5a1 1 0 0 1 1.414 0l5 5a1 1 0 0 1 0 1.414l-5 5A.997.997 0 0 1 16 22Zm-3.586-6L16 19.586L19.586 16L16 12.414Z"></path><path fill="currentColor" d="m2 16l8-8l1.414 1.414L4.828 16l6.586 6.586L10 24l-8-8z"></path></svg>
                        </span>
                        <div class="text-box">Survey</div>
                    </div>
                    <div class="flex-0">
                        <div class="menu-arrow transform transition-all duration-300 ">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--heroicons-outline" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5l7 7l-7 7"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="ReactCollapse--collapse" aria-hidden="true" style="height: auto; overflow: initial;">
                    <div class="ReactCollapse--content">
                        <ul class="sub-menu  space-y-4">
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4">
                                <a class="" href="/add-vehicle-type">
                                    <span class="text-slate-600 dark:text-slate-300 text-sm flex space-x-3 items-center transition-all duration-150">
                                        <span class=" h-2 w-2 rounded-full border border-slate-600 dark:border-white inline-block flex-none"></span>
                                        <span class="flex-1">Add New Survey</span>
                                    </span>
                                </a>
                            </li>
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4">
                                <a class="" href="/all-vehicle-type">
                                    <span class="text-slate-600 dark:text-slate-300 text-sm flex space-x-3 items-center transition-all duration-150">
                                        <span class=" h-2 w-2 rounded-full border border-slate-600 dark:border-white inline-block flex-none"></span>
                                        <span class="flex-1">View All Survey</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>