<aside class="sidebar-wrapper bg-white shadow-base" >
    <div class="logo-segment">
        <a routerLink="/">
            <div class="logo-icon">
                <img class="img-fluid" src="./assets/images/logo/logo.png" width="150" height="50" priority>
                <img style="margin:0 auto" class="img-fluid small-menu" src="./assets/images/logo/T-logo.png" width="35"
                    height="70" priority>
            </div>
        </a>
        <span ngClass="mobile-cross" (click)="themeService.toggle()"><ng-icon name="heroXMark"></ng-icon></span>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li class="single-sidebar-menu">
                <div class="menulabel">menu</div>
            </li>
            <li class="single-sidebar-menu" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
                    <span class="menu-icon flex-grow-0">
                        <ng-icon name="heroHome"></ng-icon>
                    </span>
                    <div class="text-box flex-grow-1">Dashboard</div>
                </a>
            </li>
            <li class="single-sidebar-menu">
                <div class="menulabel">Quick Links</div>
            </li>
            <li class="single-sidebar-menu item-has-children" routerLinkActive="menu-item-active">
                <div class="menu-link collapsed" (click)="toggleSubMenu(1)" routerLinkActive="active">
                    <div class="flex-1 d-flex align-items-center">
                        <span class="menu-icon">
                            <ng-icon name="heroClipboardDocumentList"></ng-icon>
                        </span>
                        <div class="text-box">Survey</div>
                    </div>
                    <div class="flex-0">
                        <div class="menu-arrow transform transition-all duration-300">
                            <ng-icon name="heroChevronRight"></ng-icon>
                        </div>
                    </div>
                </div>
                <div class="AngularCollapse-collapse" *ngIf="isSubMenu1Visible" aria-hidden="true"
                    style="height: auto; overflow: initial;">
                    <div class="AngularCollapse-content">
                        <ul class="sub-menu">
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4">
                                <a href="javascript:void(0);" (click)="onAddNewSurveyClick()">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">Add New Survey</span>
                                    </span>
                                </a>
                            </li>
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4">
                                <a class="" routerLink="/survey/all-survey">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">View All Survey</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="single-sidebar-menu item-has-children" routerLinkActive="menu-item-active">
                <div class="menu-link collapsed" (click)="toggleSubMenu(2)">
                    <div class="flex-1 d-flex align-items-center">
                        <span class="menu-icon">
                            <ng-icon name="heroClipboardDocumentList"></ng-icon>
                        </span>
                        <div class="text-box">Users</div>
                    </div>
                    <div class="flex-0">
                        <div class="menu-arrow transform transition-all duration-300">
                            <ng-icon name="heroChevronRight"></ng-icon>
                        </div>
                    </div>
                </div>
                <div class="AngularCollapse-collapse" *ngIf="isSubMenu2Visible" aria-hidden="true"
                    style="height: auto; overflow: initial;">
                    <div class="AngularCollapse-content">
                        <ul class="sub-menu">
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4" *ngIf="!this.isUser">
                                <a class="" routerLink="/user-pages/add-user">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">Add New User</span>
                                    </span>
                                </a>
                            </li>
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4" *ngIf="this.isSuperAdmin">
                                <a class="" routerLink="/user-pages/all-users">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">View All Users</span>
                                    </span>
                                </a>
                            </li>
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4" *ngIf="!this.isSuperAdmin">
                                <a class="" routerLink="/user-pages/profile-id">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">View All Users</span>
                                    </span>
                                </a>
                            </li>
                            <!-- <li class="block pl-4 pr-1 first:pt-4  last:pb-4" *ngIf="this.isSuperAdmin">
                                <a class="" routerLink="#">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">Create Role</span>
                                    </span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </li>
            <li class="single-sidebar-menu item-has-children" routerLinkActive="menu-item-active">
                <div class="menu-link collapsed" (click)="toggleSubMenu(3)">
                    <div class="flex-1 d-flex align-items-center">
                        <span class="menu-icon">
                            <ng-icon name="heroClipboardDocumentList"></ng-icon>
                        </span>
                        <div class="text-box">Reports</div>
                    </div>
                    <div class="flex-0">
                        <div class="menu-arrow transform transition-all duration-300">
                            <ng-icon name="heroChevronRight"></ng-icon>
                        </div>
                    </div>
                </div>
                <div class="AngularCollapse-collapse" *ngIf="isSubMenu3Visible" aria-hidden="true"
                    style="height: auto; overflow: initial;">
                    <div class="AngularCollapse-content">
                        <ul class="sub-menu">
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4">
                                <a class="" routerLink="/dashboard/reports">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">List of Reports</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <!-- <li class="single-sidebar-menu" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/pages/expert-aid">
                    <span class="menu-icon flex-grow-0">
                        <ng-icon name="heroUser"></ng-icon>
                    </span>
                    <div class="text-box flex-grow-1">Expert Aid</div>
                </a>
            </li> -->
            <li class="single-sidebar-menu item-has-children" routerLinkActive="menu-item-active">
                <div class="menu-link collapsed" (click)="toggleSubMenu(4)" routerLinkActive="active">
                    <div class="flex-1 d-flex align-items-center">
                        <span class="menu-icon">
                            <ng-icon name="heroClipboardDocumentList"></ng-icon>
                        </span>
                        <div class="text-box">Expert Aid</div>
                    </div>
                    <div class="flex-0">
                        <div class="menu-arrow transform transition-all duration-300">
                            <ng-icon name="heroChevronRight"></ng-icon>
                        </div>
                    </div>
                </div>
                <div class="AngularCollapse-collapse" *ngIf="isSubMenu4Visible" aria-hidden="true"
                    style="height: auto; overflow: initial;">
                    <div class="AngularCollapse-content">
                        <ul class="sub-menu">
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4" *ngIf="!this.isSuperAdmin">
                                <a class="" routerLink="/pages/expert-aid">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">Expert Aid Services</span>
                                    </span>
                                </a>
                            </li>
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4" *ngIf="!this.isSuperAdmin">
                                <a class="" routerLink="/pages/expert-aid-list">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">Expert Aid list</span>
                                    </span>
                                </a>
                            </li>
                            <li class="block pl-4 pr-1 first:pt-4  last:pb-4" *ngIf="this.isSuperAdmin">
                                <a class="" routerLink="/pages/expert-aid-all-list">
                                    <span class="d-flex align-items-center text-sm transition-all duration-150">
                                        <span class="menu-icon">
                                            <ng-icon name="heroStopCircle"></ng-icon>
                                        </span>
                                        <span class="flex-1">Expert Aid list</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li class="single-sidebar-menu" *ngIf="!this.isUser">
                <div class="menulabel">Pages</div>
            </li>
            <li class="single-sidebar-menu" routerLinkActive="menu-item-active" *ngIf="!this.isUser">
                <a class="menu-link" routerLink="/pages/about">
                    <span class="menu-icon flex-grow-0">
                        <ng-icon name="heroClipboardDocumentList"></ng-icon>
                    </span>
                    <div class="text-box flex-grow-1">About Us</div>
                </a>
            </li>
            <!-- <li class="single-sidebar-menu" routerLinkActive="menu-item-active" *ngIf="!this.isUser">
                <a class="menu-link" routerLink="#">
                    <span class="menu-icon flex-grow-0">
                        <ng-icon name="heroQuestionMarkCircle"></ng-icon>
                    </span>
                    <div class="text-box flex-grow-1">FAQ's</div>
                </a>
            </li> -->
            <li class="single-sidebar-menu" routerLinkActive="menu-item-active" *ngIf="!this.isUser">
                <a class="menu-link" routerLink="/pages/terms-condition">
                    <span class="menu-icon flex-grow-0">
                        <ng-icon name="heroClipboardDocumentCheck"></ng-icon>
                    </span>
                    <div class="text-box flex-grow-1">Terms & Conditions</div>
                </a>
            </li>
            <li class="single-sidebar-menu" routerLinkActive="menu-item-active" *ngIf="!this.isUser">
                <a class="menu-link" routerLink="/pages/privacy-policy">
                    <span class="menu-icon flex-grow-0">
                        <ng-icon name="heroShieldCheck"></ng-icon>
                    </span>
                    <div class="text-box flex-grow-1">Privacy Policy</div>
                </a>
            </li>
            <li class="single-sidebar-menu">
                <div class="menulabel">Settings</div>
            </li>
            <li class="single-sidebar-menu" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="/account/my-account">
                    <span class="menu-icon flex-grow-0">
                        <ng-icon name="heroUser"></ng-icon>
                    </span>
                    <div class="text-box flex-grow-1">My Account</div>
                </a>
            </li>
            <li class="single-sidebar-menu" routerLinkActive="menu-item-active">
                <a class="menu-link" routerLink="login" (click)="logOut()">
                    <span class="menu-icon flex-grow-0">
                        <ng-icon name="heroLockClosed"></ng-icon>
                    </span>
                    <div class="text-box flex-grow-1">Logout</div>
                </a>
            </li>
        </ul>
        <div class="support">
            <div>
                <img loading="lazy" src="../../../assets/images/support.png" class="img-fluid" alt="" width="100" height="100">
            </div>
            <p>For any query feel free to contact us.</p>
            <a routerLink="/support" class="btn btn-primary w-100 btn-sm">Support</a>
        </div>
    </div>
    <div class="sidebar-upgrade">
        <a class="btn btn-primary btn-sm w-100" routerLink="/payment">Upgrade</a>
    </div>
</aside>
<app-create-survey-popup #CreateSurveyModal></app-create-survey-popup>