<div class="slider mb-4">
    <div>
        <img src="./assets/images/logo/logo.png">
    </div>
    <div>
        <div class="menu-container">
            <ul class="menu-list">
                <li>Menu
                    <ul class="submenu-list">
                        <li class="submenu-item"><ng-icon name="heroHome"></ng-icon>Dashboard</li>
                    </ul>
                </li>
                <li class="menu-item">Quick Links
                    <div class="dropdown survey">
                        <button class="btn dropdown-toggle surveylist" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Survey
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item surveymenu" href="#">Add New</a></li>
                            <li><a class="dropdown-item surveymenu" href="#">View All</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown survey">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Users
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Add New</a></li>
                            <li><a class="dropdown-item" href="#">View All</a></li>
                            <li><a class="dropdown-item" href="#">Create Role</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown survey">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Reports
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Add New</a></li>
                            <li><a class="dropdown-item" href="#">View All</a></li>
                            <li><a class="dropdown-item" href="#">Create Role</a></li>
                        </ul>
                    </div>
                </li>
                <li>Pages
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Teams & Condition</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </li>
                <li>Settings
                    <ul>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>