<div ngClass="survey-question ms-0">
    <!-- <div ngClass="survey-name">
        <div>
            <h4 ngClass="mb-3">Ed-Tech Brand Ranking Surevy</h4>
            <span>Cosmetics, Personal Care, Toiletries</span>
        </div>
        <a routerLink="#"><ng-icon name="heroPencilSquare"></ng-icon></a>
    </div> -->
    <div ngClass="question">
        <div>
            <div class="d-flex">
                <h4 ngClass="mb-3">
                    <ng-container *ngIf="filteredCountryNames !== 'Other Country'">
                        <img matTooltip="{{filteredCountryNames}}"
                            aria-label="Button that displays a tooltip when focused or hovered over" loading="lazy"
                            [src]="baseUrl + '/assets/images/country-flag/' + filteredCountryNames" width="30"
                            height="30" alt="{{filteredCountryNames}}" />
                    </ng-container>
                    {{filteredSurveyNames}}
                </h4>
                <div class="ms-2">
                    <span class="badge text-bg-success activestatus">{{surveystatus}}</span>
                </div>

            </div>
            <div class="d-flex">
                <span class="badge text-bg-danger activestatus me-2"
                    *ngIf="filteredcategoryName !='Others'">{{filteredcategoryName}}</span>
                <span class="badge text-bg-danger activestatus "
                    *ngIf="filteredcategoryName =='Others'">{{filteredcategoryName}}</span>
                <span class="badge text-bg-danger activestatus me-2">Survey ID-{{surveyId}}</span>
            </div>
        </div>

        <!-- <span class="badge text-bg-danger activestatus">{{surveystatus}}</span> -->

        <ul>
            <li>
                <div ngClass="ques-header">
                    <h5 ngClass="mb-0">Manage Question</h5>
                    <a routerLink="/survey/manage-survey/{{surveyId | encrypt}}">Cancel</a>
                </div>
                <div ngClass="ques-body p-lg-4 p-2">
                    <div ngClass="update-ques-type generic-ques mt-0 mb-5">
                        <h5 class="mb-3">Select Question Type</h5>
                        <ul>
                            <li *ngFor="let ques of questionTypes">
                                <a (click)="onQuestionTypeClickchoice(ques)" href="javascript:void(0);"
                                    [ngClass]="{'active':(ques.id == questionTypeId)}">
                                    <figure><img [src]="baseUrl + '/assets/' + ques.image" width="38" height="30" />
                                    </figure>
                                    <figcaption>{{ ques.type }} <br /><small>{{ ques.subType }}</small></figcaption>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div ngClass="mb-5">
                        <h5 class="mb-3" *ngIf="mode =='modify'">Update Your Question</h5>
                        <h5 class="mb-3" *ngIf="mode !='modify'">Add Your Question</h5>
                        <div class="row g-3 align-items-center">
                            <div class="col-md-8">
                                <input id="question" type="text" [(ngModel)]="question.question" class="form-control"
                                    name="question" (blur)="validateSurvey()" />
                                <div *ngIf="!questionadded" class="text-danger">Question is required.</div>
                            </div>
                            <div class="col-md-2">
                                <input id="addquestion" type="text" [(ngModel)]="question.questionTypeName"
                                    class="form-control" name="addquestion" (blur)="validateSurvey()">
                                <div *ngIf="!qusstionaddednext" class="text-danger">Question is required.</div>
                            </div>
                            <div class="col-md-2">
                                <!-- <mat-form-field>
                                    <mat-select #selectElement
                                        (selectionChange)="onSelectChange($event, question.sort, question.id)">
                                        <mat-option *ngFor="let item of pipeQuestionList;let i=index;" [value]="item.id"
                                            [attr.selected]="idIsEqual(question.id, item.id) ? 'true' : null"
                                            [title]="item.item">
                                            {{ item.item.split(' ').slice(0, 3).join(' ')
                                            }}{{item.item.split(' ').length > 3 ? ' ...' : ''}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <mat-form-field>
                                    <mat-select (selectionChange)="onSelectChangeByID($event)"
                                        [(ngModel)]="logicquestionid" placeholder="Select Piping">
                                        <mat-option *ngFor="let item of logicQuestionListById;let i=index;"
                                            [value]="item.id"
                                            [attr.selected]="idIsEqual(question.id, item.id) ? 'true' : null"
                                            [title]="item.item">
                                            {{ item.item.split(' ').slice(0, 3).join(' ')
                                            }}{{item.item.split(' ').length > 3 ? ' ...' : ''}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- <select class="form-select">
                                    <option *ngFor="let item of pipeQuestionList;let i=index;" value="{{item.id}}"
                                        title="{{item.item}}">{{ item.item.split(' ').slice(0, 3).join(' ')
                                        }}{{item.item.split(' ').length > 3 ? ' ...' : ''}}</option>

                                </select> -->
                                <!-- <mat-form-field>
                                    <mat-select #selectElement
                                        (selectionChange)="onSelectChange($event, question?.sort, question?.id)">
                                        <mat-option *ngFor="let item of pipeQuestionList;let i=index;" [value]="item.id"
                                            [attr.selected]="idIsEqual(question.id, item.id) ? 'true' : null"
                                            [title]="item.item">
                                            {{ item.item.split(' ').slice(0, 3).join(' ')
                                            }}{{item.item.split(' ').length > 3 ? ' ...' : ''}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                            </div>
                        </div>
                    </div>
                    <div ngClass="update-ques-type add-media generic-ques mt-0 mb-5">
                        <h5 class="mb-3">Add Media</h5>
                        <ul>
                            <li>
                                <!-- <a routerLink="javascript:">
                                    <figure><img src="../../../assets/images/icons/attach-image.png" width="64"
                                            height="58" /></figure>
                                    <figcaption>Attach Image</figcaption>
                                </a> -->
                                <!-- <ngx-dropzone (change)="onSelect($event)" [ngClass]="'drop-file'">
                                    <ngx-dropzone-label>
                                      <img src="../../../assets/images/icons/attach-image.png" />
                                      <a href="javascript:"><u>Click to upload</u></a> <span> or drag and drop</span>
                                      <p>Max. File Size: 15MB</p>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </ngx-dropzone> -->

                                <ngx-dropzone ngx-dropzone [accept]="'image/*'" (change)="onSelectImage($event)">
                                    <ngx-dropzone-label>
                                        <figure><img [src]="baseUrl+'/assets/images/icons/attach-image.png'" width="64"
                                                height="58" /></figure>
                                        <figcaption>Attach Image</figcaption>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of filesImage" [file]="f" [removable]="true"
                                        (removed)="onRemoveImage(f)">

                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </li>
                            <li>
                                <ngx-dropzone ngx-dropzone [accept]="'video/*'" (change)="onSelectVideo($event)">
                                    <ngx-dropzone-label>
                                        <figure><img [src]="baseUrl+'/assets/images/icons/attach-video.png'" width="64"
                                                height="58" /></figure>
                                        <figcaption>Attach Video</figcaption>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of filesVideo" [file]="f" [removable]="true"
                                        (removed)="onRemoveVideo(f)">

                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </li>
                            <li (click)="openLgUrl(videourl)">
                                <div class="youtubeurl">
                                    <div class="videourl">
                                        <figure><img [src]="baseUrl+'/assets/images/icons/videourl.png'" width="64"
                                                height="58" /></figure>
                                        <figcaption>Attach Video URL</figcaption>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <div ngClass="border-top p-4">
                    <div ngClass="select-ans-choice mb-5">
                        <h5>Answer Choice</h5>
                        <!-- <div ngClass="d-flex align-items-center">
                            <span>Tag/Code(Optional)</span>
                            <select class="form-select">
                                <option selected>Select Option Pipeing</option>
                                <option value="1">Select Pipeing 1</option>
                                <option value="2">Select Pipeing 2</option>
                            </select>
                        </div> -->
                    </div>
                    <div ngClass="mb-4" cdkDropList (cdkDropListDropped)="onDropOption($event)">
                        <div class="row g-2 align-items-center mb-3" *ngFor="let option of optionsArr1;let i=index;">
                            <div class="flex-width">
                                <input type="text" id="" class="form-control" value="{{i+1}}" readonly />
                            </div>
                            <!-- <div class="flex-width">
                                <ngx-dropzone class="edit-survey-img" ngx-dropzone [accept]="'image/*'"
                                    (change)="onSelect($event)">
                                    <ngx-dropzone-label>
                                        <img [src]="baseUrl+'/assets/images/icons/attach-image.png'" />
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">

                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div> -->

                            <!-- this -->
                            <div class="flex-width">
                                <ngx-dropzone class="edit-survey-img" ngx-dropzone [accept]="'image/*'"
                                    (change)="onSelectOptionImage($event, i,question.id,option.id)">
                                    <ngx-dropzone-label>
                                        <img [src]="baseUrl + '/assets/images/icons/attach-image.png'" />
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of optionImages[i]" [file]="f" [removable]="true"
                                        (removed)="onRemoveSelectOptionImage(f,i)">
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div>

                            <div class="flex-width view-img" *ngIf="optionimagennew.length > 0">

                                <ng-container>
                                    <img [src]="optionimagennew[i]" class="img-fluid">
                                </ng-container>
                            </div>



                            <!-- <div class="flex-width">
                                <ngx-dropzone data-bs-toggle="modal" data-bs-target="#imageModal" (click)="openModal(i)"
                                    class="edit-survey-img" ngx-dropzone [accept]="'image/*'">
                                    <ngx-dropzone-label>
                                        <img [src]="baseUrl + '/assets/images/icons/attach-image.png'" />
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of optionImages[i]" [file]="f" [removable]="true"
                                        (removed)="onRemoveSelectOptionImage(f,i)">
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div> -->
                            <div class="flex-2">
                                <input id="answer" type="text" name="answer" class="form-control"
                                    [(ngModel)]="option.option" (blur)="validateSurvey()" />
                                <div *ngIf="!option.option.trim()" class="text-danger">Option is required.</div>
                            </div>




                            <!-- <div *ngFor="let input of inputFields; let i = index" class="flex-2">
                                <input id="answer{{ i }}" type="text" name="answer" class="form-control"
                                    [(ngModel)]="input.option" (blur)="validateSurvey(i)" />
                                <input type="hidden" [(ngModel)]="option.option" />
                                <div *ngIf="!input.isFilled" class="text-danger">Option is required.</div>
                            </div> -->


                            <!-- <div class="flex-1">
                                <input type="text" id="" class="form-control" value="Add Keyword">
                            </div> -->
                            <div class="flex-width text-end" cdkDrag>
                                <ng-icon name="heroBars3"></ng-icon>
                            </div>
                            <div class="flex-width text-end">
                                <a href="javascript:void(0);" (click)="onDeleteOption('optionArr1',i)">
                                    <ng-icon name="heroTrash"></ng-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr *ngIf="optionsArr2.length>0" />
                    <div ngClass="mb-4">
                        <div class="row g-2 align-items-center mb-3" *ngFor="let option of optionsArr2;let i=index;">
                            <div class="flex-width">
                                <input type="text" id="" class="form-control" value="{{optionsArr1.length+1}}"
                                    readonly />
                            </div>
                            <!-- <div class="flex-width">
                                <ngx-dropzone class="edit-survey-img" ngx-dropzone [accept]="'image/*'"
                                    (change)="onSelectOptionImage($event,i)">
                                    <ngx-dropzone-label>
                                        <img [src]="baseUrl+'/assets/images/icons/attach-image.png'" />
                                    </ngx-dropzone-label>

                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of optionFiles[i]" [file]="f" [removable]="true"
                                        (removed)="onRemove(f)">
                                    </ngx-dropzone-image-preview>

                                </ngx-dropzone>
                            </div> -->
                            <div class="flex-width">
                                <ngx-dropzone class="edit-survey-img" ngx-dropzone [accept]="'image/*'"
                                    (change)="onSelectNewOptionImage($event, i,question.id,option.id)">
                                    <ngx-dropzone-label>
                                        <img [src]="baseUrl + '/assets/images/icons/attach-image.png'" />
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of newoptionImages[i]" [file]="f" [removable]="true"
                                        (removed)="onRemoveSelectOptionImage(f,i)">
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div>
                            <div class="flex-2">
                                <input type="text" disabled id="" class="form-control" [(ngModel)]="option.option" />
                            </div>
                            <!-- <div class="flex-1">
                                <input type="text" id="" class="form-control" value="Add Keyword">
                            </div> -->
                            <!-- <div class="flex-width text-end">
                                <ng-icon name="heroBars3"></ng-icon>
                            </div> -->
                            <div class="flex-width text-end">
                                <ng-icon name="heroTrash" (click)="onDeleteOption('optionArr2',i)"></ng-icon>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="screeningRedirectUrl" class="mb-3">
                        <label class="mb-2">Redirect URL</label>
                        <textarea [(ngModel)]="screeningRedirectUrl" class="form-control">
                        </textarea>
                    </div>
                    <div *ngIf="question.questionTypeName === 'Open Ended'">
                        <div class="mb-3">

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="numeric" value="numeric"
                                    id="numeric" [(ngModel)]="numeric" (change)="openEndedValue()">
                                <label class="form-check-label" for="numeric">Numeric</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="alphabet" value="alphabet"
                                    id="alphabet" [(ngModel)]="alphabet" (change)="openEndedValue()">
                                <label class="form-check-label" for="alphabet">Alphabet</label>
                            </div>
                        </div>

                        <div class="flex-2 mb-3">
                            <input id="answer" [type]="openendedtype" name="answer" class="form-control"
                                [(ngModel)]="textlimit" (blur)="validateSurvey()" pattern="[ a-zA-Z]*" />
                            <!-- <div *ngIf="!textlimitation" class="text-danger">Field is required.</div> -->
                        </div>

                    </div>
                    <div ngClass="mb-4">
                        <div class="row g-2 align-items-center">
                            <div class="col-auto">
                                <div class="new-options">
                                    <a herf="javascript:void(0);" (click)="hanldeAddOptionClick()"><ng-icon
                                            name="heroPlusCircle"></ng-icon> Add Option</a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div ngClass="new-options">
                                    <a herf="javascript:void(0);" (click)="hanldeAddOptionClick('other')"><ng-icon
                                            name="heroPlusCircle"></ng-icon> Other
                                    </a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div ngClass="new-options">
                                    <a herf="javascript:void(0);" (click)="hanldeAddOptionClick('Optional')"><ng-icon
                                            name="heroPlusCircle"></ng-icon> Add "Other (Please specify)"
                                        Option</a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div ngClass="new-options">
                                    <a herf="javascript:void(0);" (click)="hanldeAddOptionClick('noneOfAbove')"><ng-icon
                                            name="heroPlusCircle"></ng-icon> Add "None of
                                        above"
                                        Option</a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div ngClass="new-options">
                                    <a herf="javascript:void(0);" (click)="hanldeAddOptionClick('dontKnow')"><ng-icon
                                            name="heroPlusCircle"></ng-icon> Add "Don't
                                        know /Can't say"
                                        Option</a>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div ngClass="new-options">
                                    <a herf="javascript:void(0);" (click)="openLg(content)"><ng-icon
                                            name="heroPlusCircle"></ng-icon> Add Bulk
                                        Option</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div ngClass="mb-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="commentSwitch" checked>
                            <label class="form-check-label" for="commentSwitch">Add Comment Field</label>
                        </div>
                    </div> -->
                </div>
            </li>
            <li>
                <div ngClass="p-4">
                    <div ngClass="ans-group mb-4">
                        <div class="infocircle">
                            <h5>Create Answer Group{{groups}}</h5>
                            <div class="custom-tooltip ms-2">
                                <ng-icon name="heroInformationCircle" ngClass="edit-action info-circle"
                                    (click)="toggleTooltip('1')"></ng-icon>
                                <div class="toast show" *ngIf="showTooltip['1']">
                                    <div class="toast-header">
                                        <img [src]="baseUrl + '/assets/images/icons/Add-new-question.png'"
                                            class="rounded me-2" width="30" height="30" />
                                        <h6 class="mb-0 me-auto">Create Question (Create Answer Group)</h6>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                            aria-label="Close" (click)="hideTooltip('1')"></button>
                                    </div>
                                    <div class="toast-body">
                                        With this feature, you can create groups tailored to your needs and more
                                        effectively target smaller centers. This targeted approach can help you achieve
                                        greater success in your efforts. Don't miss out on the benefits - start using
                                        this feature today!
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a href="javascript:void(0);" class="btn btn-primary" (click)="onCreateGroup()">Create New Group
                            <ng-icon name="heroArrowRight"></ng-icon></a>
                    </div>
                    <div ngClass="row">
                        <div ngClass="col-md-3 mt-3" *ngFor="let group of groups;let groupIndex=index;">
                            <h6>Group {{group?.id}}</h6>
                            <div class="tag-container">
                                <div ngClass="text-end mb-2">
                                    <a href="javascript:void(0);" (click)="selectAllOptions(groupIndex)">Select All</a>
                                </div>
                                <div ngClass="mb-3">
                                    <form>
                                        <mat-form-field class="example-chip-list">
                                            <mat-label></mat-label>
                                            <mat-chip-grid #chipGrid aria-label="City selection">
                                                <mat-chip-row *ngFor="let option of group.options">
                                                    {{option.option}}
                                                    <button matChipRemove [attr.aria-label]="'remove'"
                                                        (click)="Remove(option,groupIndex)">
                                                        <mat-icon>cancel</mat-icon>
                                                    </button>
                                                </mat-chip-row>
                                                <input #citiesInput [matChipInputFor]="chipGrid"
                                                    [matAutocomplete]="auto"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                    (blur)="validateSurvey()" />
                                            </mat-chip-grid>
                                            <mat-autocomplete #auto="matAutocomplete"
                                                (optionSelected)="selected($event, groupIndex)">
                                                <mat-option *ngFor="let option of getFilteredOptions()"
                                                    [value]="option">
                                                    {{ option.option }}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                        <div *ngIf="!categoryNameChecks[groupIndex]" class="text-danger">Option is
                                            required.</div>
                                    </form>

                                </div>
                                <!-- <div ngClass="row">
                                    <div ngClass="col-md-6">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Randamize"
                                                [(ngModel)]="group.isRandomize"
                                                (change)="onGroupValueChange('randomize', group.isRandomize, group.id)"
                                                [value]="group?.isRandomize" [checked]="group?.isRandomize">
                                            <label class="form-check-label" for="Randamize">Randomize</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="Exclude"
                                                [(ngModel)]="group.isExcluded"
                                                (change)="onGroupValueChange('excluded', group.isExcluded, group.id)"
                                                [value]="group?.isExcluded" [checked]="group?.isExcluded">
                                            <label class="form-check-label" for="Exclude">Exclude</label>
                                        </div>
                                    </div>
                                    <div ngClass="col-md-6 text-end">
                                        <button type="button" ngClass="btn btn-primary btn-sm"
                                            (click)="onDeleteGroup(groupIndex)">Delete</button>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="Randomize{{group.id}}"
                                                [(ngModel)]="group.isRandomize" value="true"
                                                name="randomizeGroup{{group.id}}"
                                                (change)="onGroupValueChange('randomize', group.isRandomize, group.id)">
                                            <label class="form-check-label"
                                                for="Randomize{{group.id}}">Randomize</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="Exclude{{group.id}}"
                                                [(ngModel)]="group.isRandomize" value="false"
                                                name="excludeGroup{{group.id}}"
                                                (change)="onGroupValueChange('excluded', group.isExcluded, group.id)">
                                            <label class="form-check-label" for="Exclude{{group.id}}">Exclude</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <button type="button" class="btn btn-primary btn-sm"
                                            (click)="onDeleteGroup(groupIndex)">Delete</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- <div ngClass="col-md-3 mt-3">
                            <div class="tag-container new">
                                <div class="circleicon"><ng-icon name="heroPlusCircle" ngClass=""
                                        (click)="onCreateGroup()" /></div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </li>
            <div class="row mb-3">
                <div class="col-6">
                   
                </div>
                <div class="col-6 text-end">
                    <button type="button" class="btn btn-primary px-5" (click)="onSave()">Save</button>
                </div>
            </div>
            <li>
                <div class="p-4">
                    <div ngClass="ans-group">
                        <div class="infocircle">
                            <h5>Create Answer Logic</h5>                           
                        </div>
                        <button type="button" class="btn btn-primary px-5" (click)="VisibilityAnsLogic()"
                        matTooltip="Create Answer Logic" matTooltipPosition="above" title="Action Information">Create
                        Answer Logic
                    </button>
                    </div>
                </div>
                <div>
                    <div ngClass="p-4" *ngIf="visibleanslogic">    
                        <div ngClass="mb-4">
                            <div class="logic-tab">
                                <!-- Logic Question -->
                                <div class="tab-content p-4" *ngIf="isLogicShow">
                                    <div class="tab-pane active" id="branching" role="tabpanel"
                                        aria-labelledby="branching-tab">
                                        <div class="infocircle justify-content-start mb-4">
                                            <h5>Create Answer Logic</h5>
                                            <div class="custom-tooltip ms-2">
                                                <ng-icon name="heroInformationCircle" ngClass="edit-action info-circle"
                                                    (click)="toggleTooltip('2')"></ng-icon>
                                                <div class="toast show" *ngIf="showTooltip['2']">
                                                    <div class="toast-header">
                                                        <img [src]="baseUrl + '/assets/images/icons/Add-new-question.png'"
                                                            class="rounded me-2" width="30" height="30" />
                                                        <h6 class="mb-0 me-auto">Create Question (Create Answer Logic)</h6>
                                                        <button type="button" class="btn-close" data-bs-dismiss="toast"
                                                            aria-label="Close" (click)="hideTooltip('2')"></button>
                                                    </div>
                                                    <div class="toast-body">
                                                        By implementing answer logic, you can dynamically show or hide
                                                        answer options based on the respondents' answers. This feature not
                                                        only streamlines the survey-taking process but also ensures that
                                                        respondents are presented with relevant questions, leading to more
                                                        accurate and insightful data.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ngClass="d-flex justify-content-between mb-3">
                                            <h6>Redirect to different questions based on user's answer.</h6>
                                            <!-- <div class="form-check checking">
                                                <input class="form-check-input" type="checkbox" value="" id="verify">
                                                <label class="form-check-label" for="verify">
                                                    Double Verify
                                                </label>
                                            </div> -->
                                        </div>
                                        <div ngClass="logic-ques">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text" id="addon-wrapping">In</span>
                                                <select class="form-select" #selectedQuestion
                                                    (change)="getOptionsByQuestionId(selectedQuestion.value)">
                                                    <option *ngFor="let item of logicQuestionList;let i=index;"
                                                        value="{{item.id}}">{{item.item}}</option>
                                                </select>
                                            </div>
                                            <div ngClass="if-then">
                                                <span>If</span>
                                            </div>
                                            <div ngClass="mb-4">
                                                <div class="row g-2 align-items-center">
                                                    <div class="col-md-1">
                                                        <div>Value</div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select class="form-select" #ifIdSelect>
                                                            <option *ngFor="let item of logicValuesList;let i=index;"
                                                                value="{{item.id}}">{{item.name}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <mat-form-field class="example-chip-list">
                                                            <mat-chip-grid #chipGrid aria-label="City selection">
                                                                <mat-chip-row
                                                                    *ngFor="let option of selectedOptions; let i=index;">
                                                                    {{option.option}}
                                                                    <button matChipRemove [attr.aria-label]="'remove'"
                                                                        (click)="removeOption(option)">
                                                                        <mat-icon>cancel</mat-icon>
                                                                    </button>
                                                                </mat-chip-row>
                                                                <input #citiesInput [matChipInputFor]="chipGrid"
                                                                    [matAutocomplete]="auto"
                                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                                    (matChipInputTokenEnd)="addOption($event)">
                                                            </mat-chip-grid>
                                                            <mat-autocomplete #auto="matAutocomplete"
                                                                (optionSelected)="selectedOption($event)">
                                                                <mat-option *ngFor="let option of optionListByQuestionId"
                                                                    [value]="option">
                                                                    {{option.option}}
                                                                </mat-option>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- <div class="col-md-1">
                                                        <a routerLink="javascript:"><ng-icon name="heroPlusCircle"
                                                                ngClass="plus-circle"></ng-icon></a>
                                                    </div> -->
                                                    <!-- <div class="col-md-4 checking">
                                                        <div class="form-check d-flex justify-content-end">
                                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                                id="selectAll">
                                                            <label class="form-check-label" for="selectAll">
                                                                Select All
                                                            </label>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div>
                                                <div ngClass="if-then">
                                                    <span>Then</span>
                                                </div>
                                                <div ngClass="mb-4">
                                                    <div class="row g-2 align-items-center">
                                                        <div class="col-md-4">
                                                            <select class="form-select" #thanIdSelect>
                                                                <option
                                                                    *ngFor="let item of optionLogicValuesList;let i=index;"
                                                                    value="{{item.id}}">{{item.name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-select" #thanExpectedSelect>
                                                                <option *ngFor="let item of optionsArr1;let i=index;"
                                                                    value="{{item.id}}">{{item.option}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <button type="button" class="btn btn-outline-primary btn-sm"
                                                                (click)="createansweraddthen()">Else</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="thenSection">
                                                <div ngClass="if-then">
                                                    <span>Else</span>
                                                </div>
                                                <div ngClass="mb-4">
                                                    <div class="row g-2 align-items-center">
                                                        <div class="col-md-4">
                                                            <select class="form-select" #thanIdSelect>
                                                                <option
                                                                    *ngFor="let item of optionLogicValuesList;let i=index;"
                                                                    value="{{item.id}}">{{item.name}}</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <a routerLink="javascript:"><ng-icon name="heroTrash"
                                                                    ngClass="trash-icon"
                                                                    (click)="createanswershidethen()"></ng-icon></a>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="col-md-12">
                                                        <a routerLink="javascript:" (click)="createanswershidethen()"><ng-icon name="heroTrash"
                                                                ngClass="trash-icon"></ng-icon></a>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-1">
                                                <a routerLink="javascript:"><ng-icon name="heroPlusCircle"
                                                        ngClass="plus-circle"></ng-icon></a>
                                            </div> -->
    
    
                                            <!-- <div ngClass="mb-4" (click)="createansweraddthen()" *ngIf="!thenSection">
                                                <div class="col-md-12">
                                                    <a routerLink="javascript:"><ng-icon name="heroPlusCircle"
                                                            ngClass="trash-icon"></ng-icon></a>
                                                </div>
                                            </div> -->
    
                                        </div>
                                    </div>
    
                                </div>
    
                            </div>
                            <div class="row mt-3">
                                <div class="col-12 text-end">
                                    <button type="button" class="btn btn-primary px-5" (click)="onLogicSave()">Save
                                        Logic</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            

            
        </ul>

    </div>
</div>


<!-- Add Bulk options -->
<ng-template #content let-modal>
    <div class="modal-header">
        <div class="infocircle">
            <h4 class="modal-title">Add Bulk Options</h4>
            <div class="custom-tooltip ms-2">
                <ng-icon name="heroInformationCircle" ngClass="edit-action info-circle"
                    (click)="toggleTooltip('3')"></ng-icon>
                <div class="toast show" *ngIf="showTooltip['3']">
                    <div class="toast-header">
                        <img [src]="baseUrl + '/assets/images/icons/Add-new-question.png'" class="rounded me-2"
                            width="30" height="30" />
                        <h6 class="mb-0 me-auto">Create Question (Bulk Option)</h6>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            (click)="hideTooltip('3')"></button>
                    </div>
                    <div class="toast-body">
                        Streamline your question creation process with the Bulk option that allows you to upload answer
                        options in bulk. This quick and easy feature will save you valuable time and effort, giving you
                        more opportunities to focus on other important tasks. Try it out now and experience the
                        convenience and efficiency that Bulk option brings to your workflow
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body popup-ques">
        <div class="row">
            <div class="col-md-6">
                <form>
                    <label>Input</label>
                    <textarea class="form-control" name="inputTextarea" [(ngModel)]="inputText" id="" cols="30"
                        rows="10" (input)="processInputText()"></textarea>
                </form>
            </div>
            <div class="col-md-6">
                <form>
                    <label>Output</label>
                    <textarea class="form-control" name="previewTextarea" [value]="inputText" id="" cols="30"
                        rows="10"></textarea>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer upload">
        <button type="button" class="btn close" (click)="modal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-primary icon" (click)="addButtonClicked(); modal.close('Close click')">Add
            <ng-icon name="heroArrowLongRight" class="ms-4"></ng-icon>
        </button>
    </div>
</ng-template>


<!-- videourl model -->

<ng-template #videourl let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add Youtube Video URL</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body popup-ques">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <label>Video URL</label>
                    <input class="form-control" name="youtubeUrl" [(ngModel)]="youtubeUrl" id="" />
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer upload">
        <button type="button" class="btn btn-primary icon"
            (click)="addyoutubevideourl(); modal.close('Close click')">Add
            <ng-icon name="heroArrowLongRight" class="ms-4"></ng-icon>
        </button>
    </div>
</ng-template>

<!-- <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="imageModal">Upload Image</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" cdkDrag>
                <ngx-dropzone ngx-dropzone [accept]="'image/*'" (change)="onSelectOptionImage($event,imageoption)">
                    <ngx-dropzone-label>
                        <figure><img [src]="baseUrl+'/assets/images/icons/attach-image.png'" width="64" height="58" />
                        </figure>
                        <figcaption>Attach Image</figcaption>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of filesImageoption"
                        [file]="f" [removable]="true" (removed)="onRemoveImage(f)">

                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
            </div>

        </div>
    </div>
</div> -->