<article>
    <div ngClass="survey-question ms-0">
        <div ngClass="survey-name">
            <div>
                <h4 ngClass="mb-3">Ed-Tech Brand Ranking Surevy</h4>
                <span>Cosmetics, Personal Care, Toiletries</span>
            </div>
            <a href="#"><ng-icon name="heroPencilSquare"></ng-icon></a>
        </div>
        <div ngClass="question">
            <ul>
                <li>
                    <div ngClass="ques-header">
                        <h5 ngClass="mb-0">Edit Question</h5>
                        <div>Cancel</div>                        
                    </div>
                    <div ngClass="ques-body p-4">
                        <div ngClass="update-ques-type generic-ques mt-0 mb-5">
                            <h5 class="mb-3">Select Question Type</h5>
                            <ul>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/gender.png" width="32" height="30" /></figure>
                                        <figcaption>Multiple Choice <br/><small>(One Answer)</small></figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/age.png" width="28" height="30" /></figure>
                                        <figcaption>Multiple Choice <br /><small>(Many Answer)</small></figcaption>
                                    </a>                    
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/nccs.png" width="30" height="30" /></figure>
                                        <figcaption>Dropdown <br/><small>(One Answer)</small></figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/monthly-income.png" width="32" height="30" /></figure>
                                        <figcaption>Dropdown <br/><small>(Many Answer)</small></figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/household-income.png" width="30" height="30" /></figure>
                                        <figcaption>Image Selection</figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/family-member.png" width="28" height="30" /></figure>
                                        <figcaption>Rating Scale</figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/number-of-child.png" width="16" height="30" /></figure>
                                        <figcaption>Star Rating</figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/working-status.png" width="25" height="30" /></figure>
                                        <figcaption>NPS</figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/city.png" width="31" height="30" /></figure>
                                        <figcaption>Slider Scale</figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/age-of-children.png" width="30" height="30" /></figure>
                                        <figcaption>Continuous Sum</figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/old-SEC.png" width="30" height="30" /></figure>
                                        <figcaption>Ranking</figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/industry.png" width="30" height="30" /></figure>
                                        <figcaption>Boolean <br/><small>(Yes/No)</small></figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure></figure>
                                        <figcaption>Matrix Choice <br /><small>(One Answer)</small></figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure></figure>
                                        <figcaption>Matrix Choice <br/><small>(Many Answer)</small></figcaption>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                        <div ngClass="mb-5">
                            <h5 class="mb-3">Update Your Question</h5>
                                <div class="row g-3 align-items-center">                                    
                                    <div class="col-8">
                                      <input type="text" id="" class="form-control" value="Please enter your age in completed years">
                                    </div>
                                    <div class="col-2">
                                        <input type="text" id="" class="form-control" value="Age">
                                    </div>
                                    <div class="col-2">
                                        <select class="form-select">
                                            <option selected>Select Pipeing</option>
                                            <option value="1">Select Pipeing 1</option>
                                            <option value="2">Select Pipeing 2</option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                        <div ngClass="update-ques-type add-media generic-ques mt-0 mb-5">
                            <h5 class="mb-3">Add Media</h5>
                            <ul>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/gender.png" width="32" height="30" /></figure>
                                        <figcaption>Attach Image</figcaption>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:">
                                        <figure><img src="../../../assets/images/icons/gender.png" width="32" height="30" /></figure>
                                        <figcaption>Attach Video</figcaption>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                    <div ngClass="border-top p-4">
                        <div ngClass="select-ans-choice mb-5">
                            <h5>Answer Choice</h5>
                            <div ngClass="d-flex align-items-center">
                                <span>Tag/Code(Optional)</span>
                                <select class="form-select">
                                    <option selected>Select Option Pipeing</option>
                                    <option value="1">Select Pipeing 1</option>
                                    <option value="2">Select Pipeing 2</option>
                                </select>
                            </div>
                        </div>
                        <div ngClass="mb-4">
                            <div class="row g-2 align-items-center"> 
                                <div class="col-1">
                                    <input type="text" id="" class="form-control" value="1">
                                </div> 
                                <div class="col-1">
                                    <input type="file" id="" class="form-control" value="">
                                </div>                                  
                                <div class="col-7">
                                  <input type="text" id="" class="form-control" value="Please enter your age in completed years">
                                </div>
                                <div class="col-2">
                                    <input type="text" id="" class="form-control" value="Add Keyword">
                                </div>  
                                <div class="col-1 text-end">
                                    <ng-icon name="heroBars3"></ng-icon>
                                </div>                               
                            </div>
                        </div>
                        <div ngClass="mb-4">
                            <div class="row g-2 align-items-center"> 
                                <div class="col-auto">
                                    <div ngClass="new-options">
                                        <a href="javascript:"><ng-icon name="heroPlusCircle"></ng-icon> Add Option</a>
                                    </div>
                                </div> 
                                <div class="col-auto">
                                    <div ngClass="new-options">
                                        <a href="javascript:"><ng-icon name="heroPlusCircle"></ng-icon> Add "Other" Option</a>
                                    </div>
                                </div>                                  
                                <div class="col-auto">
                                    <div ngClass="new-options">
                                        <a href="javascript:"><ng-icon name="heroPlusCircle"></ng-icon> Add "None of above"
                                            Option</a>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div ngClass="new-options">
                                        <a href="javascript:"><ng-icon name="heroPlusCircle"></ng-icon> Add "Don't know /Can't say"
                                            Option</a>
                                    </div>
                                </div>  
                                <div class="col-auto">
                                    <div ngClass="new-options">
                                        <a href="javascript:"><ng-icon name="heroPlusCircle"></ng-icon> Add Bulk Option</a>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>                  
                </li>         
            </ul>
        </div>
    </div>
</article>