<div class="modal right-aligned-modal fade" bsModal #CityModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">List of State & City</h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Question</label>
                        <div class="input-group">
                            <input id="questionText" type="text" class="form-control" [(ngModel)]="questionText"
                                [ngModelOptions]="{standalone: true}" placeholder="Question" readonly />
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Search your State & City</label>
                        <div class="input-group">
                            <input id="Search" type="text" class="form-control" placeholder="Type to Search" />
                        </div>
                    </div>
                    <!-- <div class="mb-4">
                        <label class="form-label">Filter</label>
                        <div ngClass="state-city">
                            <div class="select-radio">
                                <label> <input type="radio" name="state" checked>
                                    <span class="checked">Select State</span></label>
                            </div>
                            <div class="select-radio">
                                <label> <input type="radio" name="state">
                                    <span class="checked">Select City</span></label>
                            </div>
                            <div class="select-radio" *ngIf="isPanIndiaShow">
                                <label> <input type="radio" name="state">
                                    <span class="checked">Pan India</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="select-options">
                            <h5>Select Options</h5>
                            <a href="javascript:" (click)="selectAllOptions()">Select All</a>
                        </div>
                        <div class="nccs-option">
                            <ul>
                                <li *ngFor="let state of locations" class="mb-2">
                                    <input class="form-check-input me-2" type="checkbox"
                                        id="{{ 'checkbox_' + state.stateId }}"
                                        [(ngModel)]="state.selected" [ngModelOptions]="{ standalone: true }"
                                        aria-label="..." />
                                    <label class="form-check-label"
                                        for="{{ 'checkbox_' + state.stateId }}">{{ state.name }}</label>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                    <ul class="nav nav-tabs city-state" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                                aria-selected="true">Select State</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane" type="button" role="tab"
                                aria-controls="profile-tab-pane" aria-selected="false">Select City</button>
                        </li>
                        <li *ngIf="isPanIndiaShow" class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                data-bs-target="#contact-tab-pane" type="button" role="tab"
                                aria-controls="contact-tab-pane" aria-selected="false">Pan India</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                            aria-labelledby="home-tab" tabindex="0">
                            <div class="mb-4">
                                <div class="select-options">
                                    <h5></h5>
                                    <a href="javascript:" (click)="selectAllOptions()">Select All</a>
                                </div>
                                <div class="nccs-option">
                                    <ul>
                                        <li *ngFor="let state of locations; let i = index" class="mb-2">
                                            <input class="form-check-input me-2" type="checkbox"
                                            [id]="'checkbox_' + state.name + '_' + i" [(ngModel)]="state.selected"
                                                [ngModelOptions]="{ standalone: true }" aria-label="..." />
                                            <label class="form-check-label" [for]="'checkbox_' + state.name + '_' + i">{{
                                                state.name }}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
                            tabindex="0">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel"
                                aria-labelledby="home-tab" tabindex="0">
                                <div class="mb-4">
                                    
                                    <div class="nccs-option">
                                        <ul>
                                            <li *ngFor="let state of state" class="nccs-option-w-100">
                                                <div class="d-flex justify-content-between mb-3">
                                                    <div><strong>{{ state.name }}</strong> ({{ state.abbreviation }})
                                                    </div>
                                                    <a href="javascript:" (click)="selectAllCityOptions(state)">Select
                                                        All</a>

                                                </div>
                                                <ul>
                                                    <li *ngFor="let city of state.cities; let i = index" class="mb-2">
                                                        <input class="form-check-input me-2" type="checkbox"
                                                        [id]="'checkbox_' + state.stateId + '_' + i"
                                                            [(ngModel)]="city.selected"
                                                            [ngModelOptions]="{ standalone: true }" aria-label="..." />
                                                        <label class="form-check-label"
                                                        [for]="'checkbox_' + state.stateId + '_' + i">{{ city.name
                                                            }}</label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                            tabindex="0">
                            <div class="mb-4">
                                <div class="select-options">
                                    <h5></h5>
                                    <a href="javascript:" (click)="selectAllOptions()">Select All</a>
                                </div>
                                <div class="nccs-option">
                                    <ul>
                                        <li *ngFor="let state of locationsPanIndia; let i = index" class="mb-2">
                                            <input class="form-check-input me-2" type="checkbox"
                                                id="{{ 'checkbox_' + state.name + '_' + i }}" [(ngModel)]="state.selected"
                                                [ngModelOptions]="{ standalone: true }" aria-label="..." />
                                            <label class="form-check-label" for="{{ 'checkbox_' + state.name + '_' + i }}">{{
                                                state.name }}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" (click)="onConfirmSelection()">Continue</button>
            </div>
        </div>
    </div>
</div>