<div class="modal right-aligned-modal fade" bsModal #NumberOfChildModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please select your Number of Children</h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Enter Your Question</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                [value]="noofchild && noofchild.length > 0 ? noofchild[0].question : ''" />

                        </div>
                    </div>
                    <div ngClass="mb-4">
                        <div ngClass="select-options">
                            <h5>Select Options</h5>
                            <a routerLink="javascript:">Select All</a>
                        </div>
                        <div class="select-values" *ngIf="noofchild && noofchild.length > 0">
                            <ul>
                                <li *ngFor="let option of noofchild[0].options">
                                    <button>
                                        <figure>
                                            <img loading="lazy" src="../../../../assets/images/Images/{{option.image}}"
                                                [alt]="option.option" width="67" height="90" />
                                        </figure>
                                        <figcaption>
                                            <h5>{{ option.option }}</h5>
                                        </figcaption>
                                    </button>
                                </li>
                            </ul>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100">Continue</button>
            </div>
        </div>
    </div>
</div>