
.quotas {
    margin: 3rem 0;
}
.add-distribution{border: 1px solid var(--border-color);padding: 1rem;border-radius: .5rem;margin-top: 1rem;background-color: var(--white);}
.add-distribution .question-type {display: flex;justify-content: space-between;align-items: flex-start;margin-bottom: 1rem;
}
.question-type h6 {background-color: var(--primary);color: var(--white);padding: .5rem 1rem;border-radius: .25rem;
}
.implement-quota{display: flex;}
.implement-quota span {border: 1px solid var(--border-color);padding: .5rem 2rem;background-color: #f9f9f9;
cursor: pointer;}
.implement-quota span+span{border-left: none;}
.implement-quota span.active{background-color: var(--primary);color: var(--white);}
.question-options{list-style: none;padding: 0;margin-top: 1rem;}
.question-options li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: #fdefe7;
    color: var(--primary);
    border: 1px dashed var(--primary);
    padding: .5rem 1rem;
    border-radius: .5rem;
}
.question-options span{font-size: 20px;}
.question-options input{width: 80px;height: 40px;text-align: right;}
.add-quota {background-color: #f7f7f7;margin-bottom: 1rem;padding: 1rem;border-radius: .5rem;}
.total-count{display: flex;justify-content: space-between;align-items: center;}
ul.interlock-quota {list-style: none;padding: 0; margin: 0;}
ul.interlock-quota li {
    cursor: pointer;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    border-radius: .25rem;
}
ul.interlock-quota li.active{border:1px solid #2ccaa9;background: #2ccaa93d;}
.interlocked-quotas ul {list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;gap: 20px;
margin-top: 1rem;}
.interlocked-quotas ul li{border: 1px solid var(--border-color);padding: 1rem;border-radius: .5rem;flex: 0 33.33%;max-width: calc(33.33% - 20px);
    background-color: #2ccaa9; color: var(--white);}
.interlocked-quotas ul li span{border: 1px solid var(--white);padding: .25rem .5rem;border-radius: .25rem;margin-bottom: .5rem;display: inline-block;}
.interlocked-quotas table tr td input{width: 80px;height: 40px;}
.interlocked-quotas table tr td:nth-child(2){border-left: 0;}
.blanked-interlocked {
    border: 1px dashed var(--border-color);
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    margin-top: 1.5rem;
    border-radius: .5rem;
    opacity: .6;
}
.blanked-interlocked span{font-size: 22px;}