<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="select-plan">
          <h4 class="mb-4">Select plan</h4>
          <p>Best for medium business owners, startups who need landing pages for their business.</p>
          <ul>
            <li *ngFor="let plan of subscriptionPlans; let i = index">
              <input type="radio" [attr.id]="'P' + i" name="amount" [(ngModel)]="amount" [value]="plan.price" [checked]="i === 0">
              <label [attr.for]="'P' + i">
                <h5>{{ plan.name }}</h5>
                <p>₹ {{ plan.price }}<span> /month</span></p>
                <div class="text-end">
                  <button type="button" class="btn btn-primary btn-sm mt-3 w-100">Upgrade</button>
                </div>
              </label>              
            </li>
          </ul>
          <div class="mb-3">
            <label for="centerId">CenterId</label>
            <input type="text" class="form-control" id="centerId" [(ngModel)]="centerId" name="centerId">
          </div>
          <div class="alert alert-primary d-flex align-items-start p-2 my-4" role="alert">
            <ng-icon name="heroInformationCircle" class="me-2"></ng-icon>
            <div>
              Are you sure you want to upgrade you plan? This will shifting  your account to the basic, standard or premium plan.
            </div>
          </div>
          <div class="d-flex gap-3 justify-content-end">
            <a routerLink="/" class="btn btn-outline-primary">Cancel</a>
            <button type="button" class="btn btn-primary" (click)="submitForm()">Upgrade</button>
          </div>
        </div>
          <!-- <form (ngSubmit)="submitForm()">           
              <div class="mb-3">
                  <label for="amount">Amount</label>
                  <input type="text" class="form-control" id="amount" [(ngModel)]="amount" name="amount">
              </div>
              <div class="mb-3">
                  <label for="centerId">CenterId</label>
                  <input type="text" class="form-control" id="centerId" [(ngModel)]="centerId" name="centerId">
              </div>
              <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </form>             -->
      </div>
    </div>
    
  </div>
</section>