<div class="modal right-aligned-modal fade" bsModal #GenderModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please select your Gender</h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Enter Your Question</label>
                        <div class="input-group">
                            <input type="text" class="form-control" [ngModel]="questionText"
                                (ngModelChange)="questionText = $event" id="questionText" name="questionText" />
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="select-options">
                            <h5>Select Options</h5>
                            <a href="javascript:" (click)="selectAllOptions()">Select All</a>
                        </div>
                        <div class="select-values" *ngIf="questions && questions.length > 0">
                            <ul>
                                <li *ngFor="let option of questions[0]?.options" 
                                    [class.active]="option.selected" 
                                    (click)="selectOption(option)">
                                  <button>
                                    <figure>
                                      <img *ngIf="option.image" [src]="'../../../../assets/images/Images/' + option.image" [alt]="option.option" width="67" height="90" />
                                    </figure>
                                    <figcaption>
                                      <h5 [ngClass]="{'active': option.selected}">{{ option.option }}</h5>
                                    </figcaption>
                                  </button>
                                </li>
                              </ul>
                              
                          </div>
                          
                          
                                               
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" (click)="onContinue()">Continue</button>
            </div>
        </div>
    </div>
</div>