<div class="modal right-aligned-modal fade" bsModal #MonthlyIncomeModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please select your Monthly Income</h4>
                <button type="button" class="btn-close" (click)="close()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-4">
                        <label for="surveyname" class="form-label">Enter Your Question</label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                [value]="monthlyincome && monthlyincome.length > 0 ? monthlyincome[0].question : ''" />
                        </div>
                    </div>
                    <div ngClass="mb-4">
                        <div ngClass="select-options">
                            <h5>Select Options</h5>
                            <a href="javascript:" (click)="selectAllOptions()">Select All</a>
                        </div>
                        <div class="nccs-option" *ngIf="monthlyincome && monthlyincome.length > 0">
                            <ul>
                                <li *ngFor="let option of monthlyincome[0].options" class="mb-2">
                                    <input class="form-check-input me-2" type="checkbox" id="checkboxNoLabel" value=""
                                        aria-label="..." [(ngModel)]="option.selected"
                                        [ngModelOptions]="{standalone: true}">

                                    <label class="form-check-label" for="checkboxNoLabel">
                                        {{ option.option }}
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100">Continue</button>
            </div>
        </div>
    </div>
</div>