<div class="common-bg">
    <div ngClass="common-heading">
        <div class="col-md-12">
            <h4>Account Details</h4>
            <p>Manage your Track Opinion Profile</p>
        </div>
    </div>
    <div ngClass="account-picture mb-4">
        <figure>
            <a href="javascript:" class="me-4">
                <img class="object-fit-cover rounded-circle" src="./assets/images/profile/pic.png" width="80"
                    height="80" />
            </a>
        </figure>
        <figcaption>
            <h5>Profile Pictures</h5>
            <h6>PNG,JPG,GIF max size of 5MB</h6>
        </figcaption>
    </div>
    <div class="account">
        <form>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="name" class="form-label">First Name</label>
                    <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName"
                        aria-label="First name">
                </div>
                <div class="col-md-6 mb-4">
                    <label for="last" class="form-label">Last Name</label>
                    <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName"
                        aria-label="Last name">
                </div>
            </div>
            <div class="mb-4">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" [(ngModel)]="email" name="email" disabled>
            </div>
            <div class="mb-4">
                <label for="email" class="form-label">Role</label>
                <select class="form-select" disabled>
                    <option selected>{{role}}</option>
                </select>
            </div>
            <div class="change-password upload">
                <a routerLink="javascript:" (click)="openLg(content)">Change Password</a>
                <button type="button" class="btn btn-primary" (click)="postData()">Update<ng-icon
                        name="heroArrowLongRight" class="ms-5"></ng-icon></button>
            </div>
        </form>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Change Password</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body popup-ques">
        <form>
            <div class="mb-4">
                <label for="current-password" class="form-label">Current Password</label>
                <input id="current" type="password" class="form-control" [(ngModel)]="oldPassword" name="oldPassword" />
            </div>
            <div class="mb-4">
                <label for="new-password" class="form-label">New Passward</label>
                <input id="new" type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" />
            </div>
            <div class="mb-4">
                <label for="confirm-password" class="form-label">Confirm Passward</label>
                <input id="confirm" type="password" class="form-control" [(ngModel)]="confirmPassword"
                    name="confirmPassword" />
            </div>
        </form>
    </div>
    <div class="modal-footer upload">
        <button type="button" class="btn close" (click)="modal.close('Close click')">Cancel</button>
        <button type="button" class="btn btn-primary icon" (click)="updatepassword()">Update <ng-icon
                name="heroArrowLongRight" class="ms-4"></ng-icon></button>
    </div>
</ng-template>