/* You can add global styles to this file, and also import other style files */
:root {
    --light-gray: #f7f8fc;
    --white: #fff;
    --primary: #f05e16;
    --light-primary: #f7bc6c;
    --primary-hover: #dc4c05;
    --menu-gap: 20rem;
    --section-gap: 1.5rem;
    --text-color: rgb(71 85 105);
    --border-color: #e1e1e1;
    --box-shadow: 1px 0 35px rgba(0, 0, 0, 0.08);
    --online: green;
    --offline: red;
    --hover-red: #ca0000;
    --hover-light-red: #fae5e5;
}

/* common */
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--light-gray);
}

.container {
    max-width: inherit;
    width: 90%;
}

.form-label {
    font-size: 1.2rem;
}

.form-control,
.form-select {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.form-control-small {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.form-control:focus,
.form-check-input:focus,
.form-select:focus {
    border-color: var(--light-primary);
    box-shadow: 0 0 0 0.25rem rgba(240, 94, 22, .25);
}

.form-check-input:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn {
    --bs-btn-padding-x: 0.8rem;
    --bs-btn-padding-y: 0.8rem;
}

.btn-sm {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
}

.btn-primary {
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-bg: var(--primary-hover);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-active-bg: var(--primary-hover);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-disabled-bg: var(--primary-hover);
    --bs-btn-disabled-border-color: var(--primary);
}

a {
    color: var(--primary);
    text-decoration: none;
}

.flex-1 {
    flex: 1 1 0%;
}

.card {
    border-color: var(--border-color);
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.card-color {
    background-image: linear-gradient(-45deg, var(--light-primary), var(--primary));
}

/* .breadcrumb li:not(:last-child):after {content: '/';padding-left: .25rem;padding-right: .25rem;} */
.table {
    border: 1px solid var(--border-color);
}

.table>:not(caption)>*>* {
    padding: 0.8rem;
    vertical-align: middle;
}

.common-bg {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 20px #d8d8d8;
    margin-top: 2rem;
}

.common-heading {
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.common-heading .input-group.flex-nowrap span {
    background-color: transparent;
    border-right: none;
    color: #b4b4b4;
}

.common-heading .input-group select.form-select {
    border-left: none;
}

/* common */

/* Header */
.dashboard-header {
    background-color: var(--white);
    z-index: 999;
    margin-left: var(--menu-gap)
}

.app-header {
    padding: .875rem 1.5rem;
    box-shadow: 0px 0px 20px #e2dede;
    z-index: 9;
    position: relative;
}

.addMargin .dashboard-header,
article.dashboardMargin {
    margin-left: 8rem;
}

.addwidth .sidebar-wrapper {
    width: 8rem;
}

.dashboardMargin .dashboard {
    margin-left: 8rem;
}

.addwidth .logo-icon img {
    display: none;
}

.addwidth img.img-fluid.small-menu {
    display: block;
}


img.img-fluid.small-menu {
    display: none;
}

.addwidth .text-box {
    display: none;
}

.addwidth .menu-link {
    justify-content: center;
}

.addwidth .flex-0 {
    display: none;
}

.addwidth .flex-1 {
    display: none;
    flex: 0;
}

.addwidth .AngularCollapse-collapse {
    display: none;
}

li.single-sidebar-menu {
    white-space: nowrap;
}

.single-sidebar-menu.menu-item-active>.menu-link .flex-0 .menu-arrow {
    background-color: var(--primary);
    border: 1px solid var(--white);
    color: var(--white);
}

/* Header */

/* Sidebar */
.sidebar-wrapper {
    width: var(--menu-gap);
    position: fixed;
    top: 0px;
    z-index: 999;
    height: 100%;
}

.shadow-base {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo-segment {
    padding: var(--section-gap);
}

.sidebar-menu {
    padding-left: var(--section-gap);
    padding-right: var(--section-gap);
    height: calc(100% - 150px);
    overflow: hidden scroll;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.single-sidebar-menu {
    position: relative;
}

.single-sidebar-menu .menulabel {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--primary);
}

.single-sidebar-menu>.menu-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--text-color);
}

.menu-item-active .menu-link {
    background-color: var(--primary);
}

.menu-item-active .menu-link .icon-box,
.menu-item-active .menu-link .menu-icon,
.menu-item-active .menu-link .text-box {
    color: rgb(255 255 255);
}

.single-sidebar-menu .menu-icon {
    margin-right: 0.75rem;
}

.single-sidebar-menu>.menu-link .flex-0 .menu-arrow {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--light-gray);
    text-align: center;
}

.single-sidebar-menu>.menu-link .flex-0 .menu-arrow ng-icon {
    --ng-icon__size: 1em !important;
}

.single-sidebar-menu .AngularCollapse-collapse {
    transition: height 400ms;
}

.AngularCollapse-content .sub-menu li {
    display: block;
    padding-left: 1rem;
    padding-right: 0.25rem;
    padding-bottom: 1rem;
}

.AngularCollapse-content .sub-menu li:first-child {
    padding-top: 1rem;
}

.AngularCollapse-content .sub-menu li a {
    color: var(--text-color);
}

.AngularCollapse-content .sub-menu li .menu-icon ng-icon {
    --ng-icon__size: 1em !important;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.duration-150 {
    transition-duration: 150ms;
}

.sidebar-menu::-webkit-scrollbar {
    width: 5px;
}

.sidebar-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sidebar-menu::-webkit-scrollbar-thumb {
    background: var(--light-gray);
}

.sidebar-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Sidebar */

/* Main-content */
article {
    margin-left: var(--menu-gap);
    padding: var(--section-gap);
}

.recent-project-list {
    position: relative;
}

.recent-project-list:before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    background-color: var(--light-gray);
}

.recent-project-list.online:before {
    background-color: var(--online);
}

.recent-project-list.offline:before {
    background-color: var(--offline);
}

.recent-project-list .tags {
    padding: 0.4rem 0.8rem;
    line-height: 1;
    border-radius: 0.3rem 0 0 0.3rem;
    background-color: var(--light-gray);
    display: inline-block;
    color: var(--white);
    transform: translateX(1rem);
}

.recent-project-list.online .tags {
    background-color: var(--online);
}

.recent-project-list.offline .tags {
    background-color: var(--offline);
}

/* Main-content */

/* user-pages */
.user-pages {
    height: calc(100% - 6rem);
    min-height: calc(100vh - 6rem);
}

.login-form {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 6rem;
}

.login-slider {
    background-image: linear-gradient(145deg, var(--light-primary), var(--primary));
    border-radius: 1rem;
    padding: 2rem;
}

/* user-pages */

/* Survey Page */
.survey {
    display: flex;
}

.survey-question {
    flex: 1;
    margin-left: 3rem;
    position: relative;
}

.updated-preview {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    padding-top: 2rem;
}

.last-updated p {
    font-size: 12px;
}

.add-ques-sidebar {
    background-color: var(--white);
    padding: var(--section-gap);
    flex: 0 400px;
    max-width: 400px;
    margin: -1.5rem;
    box-shadow: 0px 20px 16px #d6d4d4;
    position: sticky;
    top: 0;
    height: 100vh;
    z-index: 1;
}

.add-ques-sidebar.toggle-sidebar {
    flex: 0 150px;
    max-width: 150px;
}

.add-ques-sidebar.toggle-sidebar .common-ques a {
    justify-content: center;
}

.add-ques-sidebar.toggle-sidebar .common-ques a figure {
    padding-right: 0;
}

.heroChevronRight {
    display: none !important;
    ;
}

.add-ques-sidebar.toggle-sidebar .heroChevronRight {
    display: flex !important;
}

.add-ques-sidebar.toggle-sidebar .heroChevronLeft {
    display: none;
}

.heroChevronLeft,
.heroChevronRight {
    background-color: #dcdcdc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.add-ques-sidebar.toggle-sidebar .common-ques a figcaption {
    display: none;
}

.common-ques a {
    display: flex;
    align-items: center;
    border: 2px dashed var(--border-color);
    border-radius: .25rem;
    padding: .7rem;
    color: var(--black);
}

.common-ques a figure {
    margin-bottom: 0;
    padding-right: 1rem;
}

.common-ques a figure img {
    filter: invert(1) brightness(0);
}

.common-ques a:hover,
.common-ques a.active {
    background-color: #fdefe7;
    color: var(--primary);
    border-color: var(--primary);
}

.common-ques a:hover figure img {
    filter: inherit;
}

.generic-ques {
    margin-top: 1rem;
}

.generic-ques ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.generic-ques ul li {
    flex: calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    text-align: center;
}

.generic-ques ul li a figure img {
    filter: invert(1) brightness(0);
    opacity: 0.6;
    width: auto;

}

.generic-ques ul li a {
    padding: 1rem 0rem;
    display: block;
    color: var(--black);
    border: 2px dashed var(--border-color);
    border-radius: .25rem;
    height: 100%;
    min-height: 110px;
}

.generic-ques ul li a figcaption {
    font-size: .875rem;
    line-height: 1.1;
    color: #888;
}

.generic-ques ul li a:hover figure img {
    filter: inherit;
    opacity: 1;
}

.generic-ques ul li a:hover,
.generic-ques ul li a.active {
    background-color: #fdefe7;
    border: 2px dashed var(--primary);
    color: var(--primary);
}


.survey-name {
    display: flex;
    justify-content: space-between;
}

.survey-name div span {
    background-color: var(--primary);
    color: var(--white);
    border-radius: .25rem;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
}

.survey-name a {
    color: var(--black);
}

.survey-name a ng-icon {
    font-size: .875rem;
}

.survey-question .question>ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.ques-header {
    display: flex;
    justify-content: space-between;
    background-color: #2ccaa9;
    color: var(--white);
    padding: .5rem;
}

.ques-header>a {
    color: var(--white);
}

.survey-question .question>ul>li {
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--white);
    margin-bottom: 1rem;
    box-shadow: 0px 0px 20px #d8d8d8;
}

.ques-header h5 {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.ques-header h5 ng-icon {
    font-size: .875rem;
    margin-right: 1rem;
}

/* .ques-radio {
    margin-bottom: 1rem;
} */

.ques-header ul.dropdown-menu.show {
    padding: 0;
}

.ques-header ul.dropdown-menu.show li a ng-icon {
    font-size: .75rem;
    margin-right: .5rem;
}

.ques-header ul.dropdown-menu.show li a {
    display: flex;
    align-items: center;
    padding: .75rem .5rem;
    border-bottom: 1px solid lightgrey;
}

.ques-header ul.dropdown-menu.show li a.dropdown-item:active {
    background-color: #f0621b;
}

.ques-header ul.dropdown-menu.show li a.delete-hover:hover {
    background-color: var(--hover-light-red);
    color: var(--hover-red);
}

.ques-radio:last-child {
    margin-bottom: 0rem;
}

.ques-radio label {
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: 0;
}

.ques-radio label input {
    display: none;
}

.ques-radio label span {
    position: relative;
    display: inline-block;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 100%;
    padding: .5rem .875rem;
    color: var(--text-color);
    font-size: 14px;
}

.ques-radio label input:checked~span.checked {
    border-color: #2ccaa9;
    background: #2ccaa93d;
}

.ques-radio label input:checked~span.checked {
    border-color: #2ccaa9;
    background: #2ccaa93d;
}

.search-categories ul {
    list-style: none;
    padding: 1rem;
    margin: 0px;
    margin-top: -5px;
    border: 1px solid var(--border-color);
    border-top: none;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    height: 220px;
    overflow: auto;
}

.search-categories ul li a {
    width: 100%;
    display: flex;
    color: var(--black);
    padding: .5rem;
    border-radius: .25rem;
}

.search-categories ul li a:hover {
    background-color: #fcdfd0;
}

/* Survey Modal */
.right-aligned-modal .modal-fullscreen {
    margin-left: auto;
    width: 50vw;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right-aligned-modal .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right-aligned-modal.fade .modal-dialog {
    right: -50vw;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right-aligned-modal.fade.show .modal-dialog {
    right: 0;
}

/* Survey Modal */
.state-city .select-radio label {
    position: relative;
    cursor: pointer;
}

.state-city .select-radio label input {
    display: none;
}

.state-city .select-radio label span {
    position: relative;
    display: inline-block;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    width: 100%;
    padding: .8rem 1rem;
}

.state-city {
    display: flex;
    gap: 15px;
}

.state-city .select-radio span {
    min-width: 150px;
    text-align: center;
}

.state-city label input:checked~span.checked {
    color: var(--white);
    border-color: var(--primary);
    background: var(--primary);
}

.select-options {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1.5rem;
}

.states .form-check {
    margin-bottom: .5rem;
}

.cities {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.cities .form-check {
    flex: 0 50%;
    max-width: 50%;
}

.drag-ques {
    border: 2px dashed var(--border-color);
    border-radius: .25rem;
    text-align: center;
    padding: 3rem;
    margin: 2rem 0;
    background-color: var(--white);
}

.drag-ques ng-icon {
    font-size: 2.5rem;
    color: #aaa;
}

.drag-ques p {
    font-size: 1.3rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

.drag-ques span {
    color: #ccc;
}

/* Survey Page */

/* Edit Survey Question */
.update-ques-type.generic-ques ul li {
    flex: 120px;
    max-width: calc(120px - 5px);
}

.update-ques-type.generic-ques ul {
    justify-content: flex-start;
    margin-top: 0;
}

.add-media.generic-ques ul li {
    flex: calc(200px - 5px);
    max-width: calc(200px - 5px);
}

.add-media.generic-ques ul li a {
    padding: 3rem 0;
}

.select-ans-choice {
    display: flex;
    justify-content: space-between;
}

.select-ans-choice div span {
    color: #bbb;
    margin-right: 1rem;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-width {
    width: 80px;
}

.new-options a {
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    padding: .65rem 1rem;
    color: var(--black);
    display: flex;
    align-items: center;
}

.new-options a ng-icon {
    margin-right: .5rem;
}

.ans-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logic-tab {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
    box-shadow: 0px 0px 18px #dfdfdf;
    background-color: var(--light-gray);
}

.logic-tab ul.nav.nav-tabs {

    border: none;
    flex: 0 200px;
    max-width: 200px;
}

.logic-tab .nav-tabs .nav-item .nav-link {
    color: var(--black);
    border: none;
    border-radius: 0;
    width: 100%;
    text-align: left;
    padding: .75rem 1rem;
    font-size: 14px;
}

.logic-tab .tab-content .form-select {
    font-size: 14px;
    padding: 0.5rem 0.875rem;
}

.logic-tab .nav-tabs .nav-item .nav-link.active,
.logic-tab .nav-tabs .nav-item .nav-link:hover {
    border: none;
    background-color: var(--primary);
    color: var(--white);
}

.logic-tab .tab-content {
    background-color: var(--white);
    border-left: 1px solid var(--border-color);
    flex: 1;
}

.logic-ques .input-group span {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.if-then {
    position: relative;
    z-index: 9;
    display: flex;
    margin: 1rem 0;
}

.if-then span {
    background-color: #ececec;
    padding: .25rem .75rem;
    border-radius: .5rem;
    font-size: .875rem;
    font-weight: 500;
    color: #aaa;
}

.if-then span:before {
    content: '';
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

ng-icon.plus-circle,
ng-icon.trash-icon {
    background-color: var(--primary);
    display: flex;
    color: var(--white);
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 45px;
    border-radius: .25rem;
    font-size: 1rem;
}

ng-icon.trash-icon {
    background-color: #d60000;
}

.tag-container {
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 18px #dfdfdf;
    border-radius: 0.25rem;
    padding: 1rem;

}

.all-survey .status span {
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.15rem 2rem;
    border-radius: 1rem;
}

.ongoing span {
    background-color: #cef1fc;
    color: #08b7f0;
}

.paused span {
    background-color: #fdd1d1;
    color: #f71b1b;
}

.done span {
    background-color: #ccf8d9;
    color: #00db43;
}


.action a {
    color: #b4b4b4;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action .edit-action {
    background-color: #b4b4b4;
    color: var(--white);
    border-radius: 50%;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: .75rem;
}

.action .edit-action:hover {
    background-color: var(--primary-hover);
}

.select-category .input-group.flex-nowrap span {
    background-color: transparent;
    border-right: none;
    color: #b4b4b4;
}

.select-category .input-group select.form-select {
    border-left: none;
}

/* Edit Survey Question */

/* My Account */
.account-picture {
    display: flex;
    align-items: center;
}

.account-picture h5 {
    font-size: 1.15rem;
}

.account-picture h6 {
    font-size: .9rem;
    color: var(--text-color);
}

.change-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 1rem;
}

.change-password a {
    color: black;
}

/* My Account */

/* Pages */
ngx-dropzone.drop-file {
    background-color: #fef8f8;
    border-color: var(--primary);
    height: 200px;
}

ngx-dropzone.drop-file img {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    filter: invert(1) brightness(0);
}

ngx-dropzone.edit-survey-img {
    width: 100%;
    height: 52px;
    border: 1px solid var(--border-color);
    overflow: hidden;
}

ngx-dropzone.edit-survey-img ngx-dropzone-label img {
    width: 30px;
    height: auto;
    filter: invert(1) brightness(0);
}

ngx-dropzone.edit-survey-img ngx-dropzone-image-preview {
    min-height: 100% !important;
    height: 100% !important;
    margin: 0 !important;
}

.upload-user-pic ngx-dropzone-image-preview {
    width: 100%;
    height: 100% !important;
    margin: 0 !important;
}

ngx-dropzone.edit-survey-img ngx-dropzone-image-preview img {
    width: 100%;
}

.cdk-overlay-container {
    z-index: 9999;
}

mat-form-field.mat-mdc-form-field {
    width: 100%;
}

.upload-user-pic {
    width: 150px;
    height: 150px !important;
    overflow: hidden !important;
    border-radius: 50% !important;
    border: 1px solid var(--border-color) !important;
    position: relative;
    background-color: #d8d8d8 !important;
}

/* Pages */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

span.mobile-cross {
    display: none;
}

/* Modal Layout */
.select-values {
    margin-top: 2rem;
}

.select-values ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.select-values ul li {
    flex: 0 200px;
    max-width: 200px;
    text-align: center;
    min-height: 200px;
}

.select-values ul li button {
    width: 100%;
    padding: 1rem 0rem;
    display: block;
    color: var(--black);
    border: 2px dashed var(--border-color);
    border-radius: 0.25rem;
    height: 100%;
    background-color: var(--white);
}

.select-values ul li figure img {
    opacity: 1;
    width: auto;
    object-fit: none;
}

.select-values ul li figcaption {
    font-size: .875rem;
    line-height: 1.1;
}

.select-values ul li button:hover,
.select-values ul li.active button {
    background-color: #fdefe7;
    border: 2px dashed var(--primary);
    color: var(--primary);
}

.select-values ul li a:hover figure img {
    filter: inherit;
}

.addwidth .menu-icon {
    margin: 0px;
}

/* Modal Layout */
.login-slider owl-carousel-o {
    height: 100%;
    display: flex;
    align-items: center;
}

.table>:not(caption)>*>* {
    white-space: nowrap;
}

.tags.green-tag {
    background-color: var(--online);
}

.tags .orange-tag {

    background-color: var(--offline);
}

/* Responsive */
@media (max-width:1199px) {
    .login-form {
        padding: 2rem;
    }

    .logo-segment {
        padding: 0;
    }

    .addwidth .logo-segment {
        padding: var(--section-gap);
    }

    .logo-segment .small-menu {
        display: none !important;
    }

    .logo-segment img {
        display: block !important;
        height: 50px;
        width: auto;
    }

    span.mobile-cross {
        display: block;
        position: absolute;
        top: 6px;
        right: 6px;
    }

    .sidebar-wrapper {
        width: 0rem;
    }

    .addwidth .sidebar-wrapper {
        width: 20rem;
    }

    .addwidth .flex-0 {
        display: flex;
    }

    .dashboard-header,
    article {
        margin-left: 0;
    }

    .sidebar-menu {
        padding: 0;
    }

    .addwidth .sidebar-wrapper .sidebar-menu {
        padding-left: var(--section-gap);
        padding-right: var(--section-gap);
    }

    .addwidth .text-box {
        display: block;
    }

    /* .addMargin .dashboard-header, article.dashboardMargin{margin-left: 15rem;} */

    .add-ques-sidebar {
        flex: 0 200px;
        max-width: 200px;
        min-height: 100vh;
        height: 100%;
        overflow: auto;
        padding: .5rem;
        margin: -15px;
    }

    .generic-ques ul li {
        flex: 0 50%;
        max-width: calc(50% - 5px);
    }

    .survey-question {
        margin-left: 2rem;
    }

    .generic-ques ul li a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 90px;
    }

    .generic-ques ul li a figcaption {
        font-size: .75rem;
        line-height: 1.1;
        flex: 0 100%;
    }

    .generic-ques ul li a figure {
        margin-bottom: 0;
    }

    .common-ques a {
        flex-wrap: wrap;
        font-size: .875rem;
        line-height: 1;
        padding: .5rem;
        justify-content: center;
    }

    .common-ques a figure img {
        width: 26px;
        height: auto;
        margin-bottom: 8px;
    }

    .single-sidebar-menu>.menu-link {
        justify-content: space-between;
    }

    .addwidth .AngularCollapse-collapse,
    .addwidth .flex-1 {
        display: block;
    }
}

@media (max-width:991px) {

    article,
    .app-header {
        padding: 15px;
    }

}

@media (max-width:767px) {
    body {
        font-size: .85rem;
    }

    .btn-primary {
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: .75rem;
    }

    .form-control,
    .form-select {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: .75rem;
    }

    .form-label {
        font-size: 1rem;
    }

    .btn-primary ng-icon {
        margin-left: .5rem !important;
    }

    .logic-tab ul.nav.nav-tabs {
        flex: inherit;
        max-width: inherit;
        flex-wrap: nowrap;
        flex-direction: inherit !important;
        overflow: auto;
    }

    .logic-tab ul.nav.nav-tabs li.nav-item {
        flex: none;
    }

    .update-ques-type.generic-ques ul li {
        flex: 100px;
        max-width: calc(100px - 10px);
    }

    .add-media.generic-ques ul li {
        flex: 120px;
        max-width: calc(120px - 5px);
    }

    .add-media.generic-ques ul li a {
        padding: 1rem 0;
        min-height: 120px;
        height: 120px;
    }

    .new-options a {
        font-size: .75rem;
        padding: .35rem .5rem;
    }

    .logic-tab .nav-tabs .nav-item .nav-link {
        font-size: .75rem;
        padding: .5rem 1rem;
    }
}

@media (max-width:575px) {
    .add-ques-sidebar {
        flex: 0 100px;
        max-width: 100px;
    }

    .generic-ques ul li {
        flex: 0 100%;
        max-width: 100%;
    }

    .drag-ques p {
        font-size: 1rem;
    }
}

/* Responsive */


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--white) !important;
    border: 1px solid var(--border-color);
    --mdc-filled-text-field-active-indicator-height: 0px;
    border-radius: .25rem;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
    padding-top: 8px;
    padding-bottom: 8px;
}


/* drag */
.cdk-drag {
    cursor: grab;
}

/* Reports */
.view-tags {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
}

.Report-question-list {
    margin-bottom: 3rem;
}

.Report-question-list h3 {
    margin-bottom: 0px;
}

.Report-question-list select {
    width: 250px;
}

.Report-question-list ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.Report-question-list li {
    margin-bottom: 3rem;
}

.Report-question-list figcaption>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Report-question-list figure {
    margin-top: 1rem;
    margin-bottom: 0px;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

/* Reports */



/* new */

/* header */
.app-header>div>div:first-child {
    flex: 1;
}

.app-header>div>div:last-child {
    flex: 1;
    justify-content: end;
}

.search-bar {
    position: relative;
    flex: 2;
}

/* .search-bar input {
    padding-right: 15rem;
} */

.search-bar svg {
    color: #d6d6d6;
}

.search-bar ng-icon {
    --ng-icon__size: 1.4em !important;
}

.magnifyingicon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.search-bar .form-control-small {
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
}

.bellicon {
    color: #8e8e8e;
}

.newbreadcrumb .breadcrumb ng-icon {
    --ng-icon__size: 1.4em !important;
}


/* account */

.upload .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.upload .icon ng-icon {
    --ng-icon__size: 1.4em !important;
}

.upload .close {
    background-color: #f7f8fc;
    padding-right: 3rem;
    padding-left: 3rem
}

/* 
label {
    margin-block: 0.5rem;
} */

.login-form label {
    margin: 0px;
}


/* editor */

.large-editor .ck.ck-editor__main>.ck-editor__editable {
    min-height: 300px;
}

.popup-ques label {
    color: #7c7c7c;
}

.popup-ques .form-label {
    font-size: .85rem;
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: var(--primary-hover);
}

.input-icon {
    position: relative;
}

.input-icon ng-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    --ng-icon__size: 1.2rem !important;
    line-height: 1;
}

.input-icon input {
    padding-left: 30px;
}

.checking .form-check-input {
    width: 1.25em;
    height: 1.25em;
    margin-left: -2.5em;
}

.checking label {
    font-size: 14px;
    margin: 0;
}

/* .checking label.form-check-label {
    padding-top: 0.25rem;
} */

.sort span#addon-wrapping {
    font-size: smaller;
}

.expert-aid table tr button.btn-outline-primary.added {
    background-color: var(--primary);
    color: var(--white);
}

/* Rishabh */
.login-form .text-danger {
    float: right;
    font-size: 12px;
    padding-top: 5px;
}

@media (max-width:991px) {
    .user-pages {
        height: inherit;
        min-height: inherit;
    }

    .login-slider {
        margin-top: 2rem;
    }
}


/* nccs */

.nccs-option ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
}

.nccs-option ul li {
    flex: 0 50%;
    max-width: 50%;
    display: flex;
}

.nccs-option .form-check-input[type=checkbox] {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0;
}

.nccs-option label.form-check-label {
    margin: 0;
}


.advancedoption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advancedoption .form-select {
    flex: 4;
}

.advancedoption p {
    flex: 1;
    margin: 0;
}

.advancedtext {
    display: flex;
    justify-content: end;
    align-items: center;
}

.advancedtext input.form-control {
    width: 81%;
}

.nametext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nametext .form-control {
    flex: 5;
}

.nametext p {
    margin: 0;
}

/* hoveraddwidth */

.hoveraddwidth .sidebar-wrapper {
    width: 20rem;
}

.hoveraddwidth.addwidth .menu-icon {
    margin-right: 0.75rem;
}

.hoveraddwidth.hoveraddwidth.addwidth .text-box {
    display: block;
}

.hoveraddwidth.addwidth .flex-1 {
    display: none;
    flex: auto;
}

.hoveraddwidth.addwidth .flex-0 {
    display: block;
}

.addwidth.hoveraddwidth .logo-icon img {
    display: block;
}

.addwidth.hoveraddwidth img.img-fluid.small-menu {
    display: none;
}

.addwidth.hoveraddwidth .AngularCollapse-collapse {
    display: block;
}

.hoveraddwidth.addwidth .flex-1 {
    display: block;
    flex: auto;
}


/* 
.addwidth.hoveraddwidth .flex-1 {
    display: block;
    flex: 0;
} */


.ques-header .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 0px;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.ques-header mat-form-field.mat-mdc-form-field {
    width: 150px;
}

.ques-header .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #f6f7fbb3 !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
    font-size: 14px !important;
}

.mat-mdc-option {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.mat-mdc-form-field-focus-overlay {
    background-color: transparent;
}

/* Scroll Style */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(44, 44, 44, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(44, 44, 44, 0.3);
    background-color: #b7b4b4;
}

/* Signup */
.mat-mdc-option {
    min-height: 38px !important;
}

.upload-logo {
    position: relative;
    height: 120px;
    width: 120px;
    display: block;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.upload-logo input {
    opacity: 0;
    width: 120px;
    height: 120px;
    cursor: pointer;
    z-index: 9;
    position: relative;
}

.upload-logo img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0;
    left: 0;
}

.custom-pagination .ngx-pagination li {
    border-radius: 4px;
}

.custom-pagination .ngx-pagination .current {
    background: var(--primary);
}

.nccs-option ul li.nccs-option-w-100 {
    flex: 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}


.custom-pagination .ngx-pagination {
    padding: 0px;
    margin: 0px;
}

.text-bg-primary {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: 1px solid #ffffff !important;
}

.badge {
    cursor: pointer;
}

.custom-pagination select {
    width: auto;
}

table th {
    font-weight: 500;
}

.table-dark {
    --bs-table-bg: var(--primary);
    --bs-table-border-color: var(--primary);
    --bs-table-striped-bg: var(--primary);
    --bs-table-active-bg: var(--primary);
    --bs-table-hover-bg: var(--primary);
}

.btn-outline-primary {
    --bs-btn-color: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-disabled-color: var(--primary);
    --bs-btn-disabled-border-color: var(--primary);
}


.tag-container.new {
    opacity: 0.3;
    position: relative;
    height: 180px;
    margin-top: 27px
}

.circleicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.services .mark ng-icon {
    --ng-icon__size: 1.2em !important;
}

.serviceoption {
    border: 1px solid #dee2e6;
    padding: 0.3rem;
    border-radius: 0.5rem;
    margin-right: 4px;

}


.donestatus span {
    padding: .3rem 1.5rem;
    border-radius: 1rem;
}


/* loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.add-multiple-logic .mat-mdc-form-field-infix {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    min-height: 38px !important;
}


.defaultprofile {
    background-color: var(--primary);
    height: 40px;
    width: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.generic-ques .youtubeurl {
    display: flex;
    align-items: center;
    height: 180px;
    background: #fff;
    color: #717386;
    border: 2px dashed #717386;
    border-radius: 5px;
    font-size: 16px;
    margin: 0;
}

.generic-ques .videourl {
    margin: auto;
}

.delete h4 {
    text-align: center;
}

.deleteoption {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.deleteoption button.btn.btn-primary.icon {
    padding: 10px 20px;
}

.action .edit-action.delete-trash {
    background-color: var(--hover-red);
}

.infocircle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-action.info-circle {
    --ng-icon__size: 1.3em;
    color: grey;
}

/* Tooltip */
.infocircle h4{margin-bottom: 0;}
.custom-tooltip ng-icon{ cursor: pointer; }
.custom-tooltip ng-icon:hover{ color: var(--primary);}
.custom-tooltip .toast.show{ position: absolute; z-index: 999; background-color: #f5f5f5; }
.all-survey .table .custom-tooltip .toast.show { right: 20px;}
.toast-body{white-space: normal;}
/* Tooltip */