/* You can add global styles to this file, and also import other style files */
:root {
    --light-gray: #f7f8fc;
    --white: #fff;
    --primary: #f05e16;
    --light-primary: #f7bc6c;
    --primary-hover: #dc4c05;
    --menu-gap: 20rem;
    --section-gap: 1.5rem;
    --text-color: rgb(71 85 105);
    --border-color: #e1e1e1;
    --box-shadow: 1px 0 35px rgba(0,0,0,0.08);
    --online: green;
    --offline: red;
}

/* common */
body { font-family: 'Noto Sans', sans-serif; background-color: var(--light-gray);}
.container { max-width: inherit; width: 90%;}
.form-label { font-size: 1.2rem;}
.form-control, .form-select { padding-top: 0.8rem; padding-bottom: 0.8rem;}
.form-control-small{ padding-top: 0.375rem; padding-bottom: 0.375rem; }
.form-control:focus,.form-check-input:focus { border-color: var(--light-primary); box-shadow: 0 0 0 0.25rem rgba(240, 94, 22, .25);}
.form-check-input:checked { background-color: var(--primary); border-color: var(--primary);}
.btn {
    --bs-btn-padding-x: 0.8rem;
    --bs-btn-padding-y: 0.8rem;
}

.btn-primary {
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-bg: var(--primary-hover);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-active-bg: var(--primary-hover);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-disabled-bg: var(--primary-hover);
    --bs-btn-disabled-border-color: var(--primary);
}

a {
    color: var(--primary);
    text-decoration: none;
}
.flex-1 {
    flex: 1 1 0%;
}
.card{ border-color: var(--border-color); box-shadow: var(--box-shadow); padding: 1rem;}
.card-color{ background-image: linear-gradient(-45deg, var(--light-primary), var(--primary));}
/* common */

/* Header */
.dashboard-header{ background-color: var(--white); z-index: 999; margin-left: var(--menu-gap)}
.app-header{ padding: var(--section-gap);}
/* Header */

/* Sidebar */
.sidebar-wrapper{ width: var(--menu-gap); position: fixed; top: 0px; z-index: 999; height: 100vh; }
.shadow-base{ box-shadow: 0 0 10px rgba(0,0,0,0.2);}
.logo-segment{ padding: var(--section-gap);}

.sidebar-menu{ padding-left: var(--section-gap); padding-right: var(--section-gap); height: calc(100% - 150px); overflow: hidden scroll;}
.sidebar-menu ul{ list-style: none; padding: 0px; margin: 0px;}
.single-sidebar-menu { position: relative;}
.single-sidebar-menu .menulabel { margin-bottom: 1rem; margin-top: 1rem; font-size: 0.75rem; line-height: 1rem; font-weight: 600; text-transform: uppercase; color: var(--primary);}
.single-sidebar-menu > .menu-link { display: flex; cursor: pointer; border-radius: 4px; padding-left: 10px; padding-right: 10px; padding-top: 0.75rem; padding-bottom: 0.75rem; font-size: 0.875rem; line-height: 1.25rem; font-weight: 500; text-transform: capitalize; color: var(--text-color);}
.menu-item-active .menu-link { background-color: var(--primary);}
.menu-item-active .menu-link .icon-box, .menu-item-active .menu-link .menu-icon, .menu-item-active .menu-link .text-box { color: rgb(255 255 255);}
.single-sidebar-menu .menu-icon { margin-right: 0.75rem;}
.single-sidebar-menu > .menu-link .flex-0 .menu-arrow{ width: 20px; height: 20px; border-radius: 50%; background-color: var(--light-gray); text-align: center;}
.single-sidebar-menu > .menu-link .flex-0 .menu-arrow ng-icon{ --ng-icon__size: 1em !important; }

.single-sidebar-menu .AngularCollapse-collapse { transition: height 400ms;}
.AngularCollapse-content .sub-menu li{ display: block; padding-left: 1rem; padding-right: 0.25rem; padding-bottom: 1rem;}
.AngularCollapse-content .sub-menu li:first-child{ padding-top: 1rem; }
.AngularCollapse-content .sub-menu li a{ color: var(--text-color);}
.AngularCollapse-content .sub-menu li .menu-icon ng-icon{ --ng-icon__size: 1em !important; }
.text-sm { font-size: 0.875rem; line-height: 1.25rem;}
.transition-all { transition-property: all; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 150ms;}
.duration-150 { transition-duration: 150ms;}

.sidebar-menu::-webkit-scrollbar { width: 5px; }
.sidebar-menu::-webkit-scrollbar-track { background: #f1f1f1;}
.sidebar-menu::-webkit-scrollbar-thumb { background: var(--light-gray); }
.sidebar-menu::-webkit-scrollbar-thumb:hover{ background: #555; }
/* Sidebar */

/* Main-content */
article{ margin-left: var(--menu-gap); padding: var(--section-gap);}
.recent-project-list{ position: relative; }
.recent-project-list:before{ content: ""; width: 15px; height: 15px; border-radius: 50%; position: absolute; top: 1.5rem; left: 1.5rem; background-color: var(--light-gray); }
.recent-project-list.online:before{ background-color: var(--online); }
.recent-project-list.offline:before{ background-color:  var(--offline); }

.recent-project-list .tags{ padding: 0.4rem 0.8rem; line-height: 1; border-radius:0.3rem 0 0 0.3rem; background-color: var(--light-gray); display: inline-block; color: var(--white); transform: translateX(1rem); }
.recent-project-list.online .tags{ background-color: var(--online);}
.recent-project-list.offline .tags{ background-color: var(--offline);}
/* Main-content */

/* user-pages */
.user-pages { height: calc(100% - 6rem); min-height: calc(100vh - 6rem);}
.login-form { background-color: var(--white); border-radius: 1rem; padding: 6rem;}
.login-slider { background-image: linear-gradient(145deg, var(--light-primary), var(--primary)); border-radius: 1rem; padding: 2rem;}
/* user-pages */

/* Survey Page */
.survey{display: flex;}
.survey-question { flex: 1;margin-left: 3rem;}
.add-ques-sidebar {background-color: var(--white);padding: 1rem;flex: 0 33%;max-width: 33%; margin: -1.5rem;
    box-shadow: 0px 20px 16px #d6d4d4;}
.common-ques {display: flex; align-items: center;border: 2px dashed  #F1F1F1;border-radius: .25rem;padding: 1rem;
    }
.common-ques figure {margin-bottom: 0;padding-right: 1rem;}
.generic-ques {margin-top: 2rem;}
.generic-ques ul {list-style: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;gap:10px}
.generic-ques ul li {flex: calc(33.33% - 10px);max-width: calc(33.33% - 10px); text-align: center; border: 2px dashed #f1f1f1;
    border-radius: .25rem;
}
.generic-ques ul li a {padding: 1rem 0rem;display: block;color: var(--black);}
.generic-ques ul li a figcaption {font-size: .875rem;line-height: 1.1;}
.survey-name {display: flex; justify-content: space-between;}
.survey-name div span{background-color: var(--primary);color:var(--white);border-radius: .25rem;padding: 0.25rem 0.5rem;
    font-size: .875rem;}
.survey-name a {color: var(--black);    }
.survey-name a ng-icon { font-size: .875rem;}    
.survey-question .question ul {list-style: none;padding: 0;margin: 0;margin-top: 2rem;}
.ques-header {display: flex;justify-content: space-between;background-color: #2ccaa9;color: var(--white);padding: .5rem;}
.survey-question .question>ul>li { border: 1px solid var(--border-color); border-radius: 0.25rem;
    background-color: var(--white);margin-bottom: 1rem; box-shadow: 0px 0px 20px #d8d8d8;
}
.ques-header h5{display: flex;align-items: center;}
.ques-header h5 ng-icon {font-size: .875rem;margin-right: 1rem;}
.ques-radio{margin-bottom: 1rem;}
.ques-radio:last-child{margin-bottom: 0rem;}
.ques-radio label {position: relative;cursor: pointer;width: 100%;}
.ques-radio label input {display: none;}
.ques-radio label span {position: relative;display: inline-block;border: 1px solid #dee2e6;
    border-radius: 5px;width: 100%;padding: .8rem 1rem;
}
.ques-radio label input:checked ~ span.checked { border-color: #2ccaa9; background: #2ccaa93d ;}

.modal-fullscreen {width:50vw;margin-left:auto;} 	
.state-city .select-radio label{position: relative;cursor: pointer;}
.state-city .select-radio label input {display: none;}
.state-city .select-radio label span {position: relative;display: inline-block;border: 1px solid #dee2e6;
    border-radius: 5px;width: 100%;padding: .8rem 1rem;
}
.state-city {display: flex;gap: 15px;}
.state-city .select-radio span {min-width: 150px;text-align: center;}
.state-city label input:checked ~ span.checked {color:var(--white); border-color: var(--primary); background: var(--primary) ;}
.select-state{display: flex;justify-content: space-between;border-bottom: 1px solid var(--border-color);    margin-bottom: 1.5rem;}
.states .form-check{margin-bottom: .5rem;}
.cities {display: flex;flex-wrap: wrap;margin-top: 1rem;}
.cities .form-check {flex: 0 50%;max-width: 50%;}
/* Survey Page */