<div ngClass="common-bg">
    <div ngClass="all-survey">
        <div ngClass="row common-heading">
            <div class="col-md-9">
                <h4>Survey List</h4>
                <p>Manage your Track Opinion "Survey List" page</p>
            </div>
            <div class="col-md-3">
                <!-- <div class="input-group flex-nowrap sort">
                        <span class="input-group-text" id="addon-wrapping"></span>
                        <select class="form-select" [(ngModel)]="selectedCategory">
                            <option selected value="All Categories">All Categories</option>
                            <option *ngFor="let item of categoryList" [value]="item.name">{{item.name}}</option>
                        </select>                    
                    </div> -->
                <mat-form-field>
                    <mat-select [(ngModel)]="selectedCategory">
                        <mat-option selected value="All Categories">All Categories</mat-option>
                        <mat-option *ngFor="let item of categoryList" [value]="item.name">{{item.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <!-- <th scope="col"><input type="checkbox" ngClass="form-check-input" />
                        </th> -->
                        <th scope="col">Survey Count</th>
                        <th scope="col">Survey Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">Category</th>
                        <th scope="col">Creator Name</th>
                        <th scope="col">Last Modification</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of surveyData | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: pageNumber, totalItems: totalItemsCount } ; let i = index"
                        [hidden]="selectedCategory !== 'All Categories' && item.categoryName !== selectedCategory">
                        <!-- <td><input type="checkbox" ngClass="form-check-input" /> -->
                        <!-- </td> -->
                        <!-- <td>{{item.id}}</td> -->
                        <td>{{ i + 1 }}</td>
                        <!-- <td>{{item.name}}</td> -->
                        <td matTooltip={{item.name}}>
                            {{ item.name.split(' ').slice(0, 3).join(' ') }}{{item.name.split('
                            ').length > 3 ? ' ...' : ''}}
                        </td>
                        <td>
                            <ng-container *ngIf="item.countryName !== 'Other Country'">
                                <img [src]="baseUrl + '/assets/images/country-flag/' + item.countryImage"
                                    class="me-2 rounded-circle" style="width: 30px;height: 30px;" />
                            </ng-container>
                            <!-- <img [src]="baseUrl + '/assets/images/country-flag/' + item.countryImage"
                                class="me-2 rounded-circle" style="width: 30px;height: 30px;" /> -->
                            <!-- <img loading="lazy" [src]="baseUrl + '/assets/images/country-flag/' + countryName + '.png'"
                                width="30" height="30" alt={{countryName}} /> -->
                            {{item.countryName}}
                        </td>
                        <td *ngIf="item.categoryName !='Others'">{{item.categoryName}}</td>
                        <td *ngIf="item.categoryName =='Others'">{{item.otherCategory}}</td>
                        <td class="profileimage">
                            <div class="d-flex align-items-center">
                                <ng-container
                                    *ngIf="item.userImage !== 'https://beta.angular.opinionest.com/Files/Images/'">
                                    <img [src]="item.userImage" class="me-2 rounded-circle"
                                        style="width: 30px; height: 30px;" />
                                </ng-container>
                                <ng-container
                                    *ngIf="item.userImage === 'https://beta.angular.opinionest.com/Files/Images/'">
                                    <div class="me-2 rounded-circle defaultprofile">
                                        {{ item.userName ? (item.userName.charAt(0) + (item.userName.split(' ')[1] ?
                                        item.userName.split(' ')[1].charAt(0) : '')) : '' }}

                                    </div>
                                </ng-container>
                                {{ item.userName }}
                            </div>
                        </td>

                        <!-- <td *ngIf="item.userImage =='https://beta.angular.opinionest.com/Files/Images/'">
                            <div class="me-2 rounded-circle defaultprofile">{{ item.userName ? (item.userName.charAt(0)
                                +
                                item.userName.split(' ')[1]?.charAt(0)) : '' }}</div>
                        </td> -->
                        <td>
                            {{
                            (item.modifiedDate ? (item.modifiedDate | date:'medium':'IST') : (item.createdDate |
                            date:'medium':'IST'))
                            }}
                        </td>
                        <!-- <td [ngClass]="{'done': item.status === 'ACT', 'paused': item.status !== 'ACT'}">
                            <span>{{ item.status === 'ACT' ? 'Ongoing' : 'Pause' }}</span>
                        </td> -->
                        <!-- <td>
                            <label class="toggle" *ngIf="role === 'admin' || role === 'superadmin'">
                              <input type="checkbox" [checked]="item.status === 'ACT'" (change)="toggleSlider($event, item.id, item)">
                              <span class="slider round"></span>
                            </label>
                            <label class="toggle" *ngIf="role !== 'admin' && role !== 'superadmin'">
                                <input type="checkbox" [checked]="item.status === 'ACT'" [disabled]="true">
                                <span class="slider round"></span>
                            </label>
                          </td> -->
                        <td>
                            <ng-container *ngIf="role === 'admin' || role === 'superadmin'">
                                <select [(ngModel)]="item.status" (change)="toggleSlider($event, item.surveyId, item)"
                                    class="form-select form-select-sm">
                                    <option [ngValue]="'ACT'">Active</option>
                                    <option [ngValue]="'DEL'">Inactive</option>
                                    <option [ngValue]="'HOL'">Hold</option>
                                </select>
                            </ng-container>
                            <ng-container *ngIf="role !== 'admin' && role !== 'superadmin'">
                                <select class="form-select" disabled>
                                    <option [ngValue]="item.status">{{ item.status === 'ACT' ? 'Active' : 'Inactive' }}
                                    </option>
                                </select>
                            </ng-container>
                        </td>
                        <td ngClass="action">
                            <a *ngIf="item.status!='ACT' && item.status!='HOL'" href="javascript:"
                                [routerLink]="'/survey/manage-survey/'+ (item.surveyId |  encrypt)">
                                <ng-icon name="heroPencil" ngClass="edit-action"></ng-icon></a>
                            <!-- <a *ngIf="item.status=='ACT'" href="javascript:">
                                <ng-icon name="heroPencil" ngClass="edit-action"></ng-icon></a> -->
                        </td>

                    </tr>
                </tbody>

            </table>
            <!-- <div class="custom-pagination d-flex justify-content-between align-items-center mt-5">
                <pagination-controls *ngIf="surveyData != null && surveyData.length > 0"
                    class="d-flex justify-content-center" id="server" (pageChange)="onPageChange($event)">
                </pagination-controls>
                <div class="d-flex align-items-center">
                    <span class="me-2">Jump to:</span>
                    <input style="flex: 1;" type="number" [(ngModel)]="currentPage" (keyup.enter)="jumpToPage()"
                        class="form-control" />
                </div>
            </div> -->
            <div class="custom-pagination d-flex justify-content-between align-items-center mt-5"
                *ngIf="surveyData.length>pageSize-1 || pageNumber>1">
                <pagination-controls *ngIf="surveyData != null && surveyData.length > 0"
                    class="d-flex justify-content-center" id="server" (pageChange)="onPageChange($event)">
                </pagination-controls>

                <div class="d-flex align-items-center">
                    <span class="me-2">Page Size:</span>
                    <select [(ngModel)]="pageSize" (change)="onPageSizeChange()" class="form-select">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>

                <div class="d-flex align-items-center">
                    <span class="me-2 ms-4">Jump to:</span>
                    <input style="flex: 1;" type="number" [(ngModel)]="currentPage" (keyup.enter)="jumpToPage()"
                        class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>