<div ngClass="common-bg">
    <div ngClass="all-survey">
        <div ngClass="row common-heading">
            <div class="col-md-9">
                <h4>Survey List</h4>
                <p>Manage your Track Opinion "Survey List" page</p>
            </div>
            <div class="col-md-3">
                <div class="input-group flex-nowrap sort">
                    <span class="input-group-text" id="addon-wrapping">Sort By:</span>
                    <select class="form-select">
                        <option selected>All Categories</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" ngClass="form-check-input" />
                        </th>
                        <!-- <th scope="col">Survey Id</th> -->
                        <th scope="col">Survey Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Creator Name</th>
                        <th scope="col">Last Modification</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of surveyData">
                        <td><input type="checkbox" ngClass="form-check-input" />
                        </td>
                        <!-- <td>{{item.id}}</td> -->
                        <td>{{item.name}}</td>
                        <td>{{item.categoryName}}</td>
                        <td>
                            <img src="../../../assets/images/profile/pic.png" class="me-2 rounded-circle"
                                style="width: 30px;height: 30px;" />
                            {{item.userName}}
                        </td>
                        <td>28-09-2023 | 14:53</td>
                        <td
                            [ngClass]="{ 'status': true, 'done': item.status === 'ACT', 'ongoing': item.status === 'ongoing' }">
                            <span>{{item.status}}</span>
                        </td>
                        <td ngClass="action">
                            <a href="javascript:" [routerLink]="'/survey/manage-survey/'+item.id + '/'+item.name | convertToUrl">
                                <ng-icon name="heroPencil" ngClass="edit-action"></ng-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>