<div ngClass="common-bg">
    <div ngClass="all-survey">
        <div ngClass="row common-heading">
            <div class="col-md-9">
                <h4>Survey List</h4>
                <p>Manage your Track Opinion "Survey List" page</p>
            </div>
            <div class="col-md-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">Sort By:</span>
                    <select class="form-select">
                        <option selected>All Categories</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" ngClass="form-check-input" [(ngModel)]="selectAllChecked"
                                (change)="toggleSelectAll()" />
                        </th>
                        <th scope="col">Survey Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Creator Name</th>
                        <th scope="col">Last Modification</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of suveryListingTable">
                        <td><input type="checkbox" ngClass="form-check-input" [(ngModel)]="item.isChecked" />
                        </td>
                        <td>{{item.surveyName}}</td>
                        <td>{{item.surveyCategory}}</td>
                        <td>
                            <img src="../../../assets/images/profile/pic.png" class="me-2 rounded-circle"
                                style="width: 30px;height: 30px;" />
                            {{item.creatorName}}
                        </td>
                        <td>28-09-2023 | 14:53</td>
                        <td ngClass="ongoing status"><span>Ongoing</span></td>
                        <td ngClass="action">
                            <a routerLink="javascript:"><ng-icon name="heroPencil" ngClass="edit-action"></ng-icon></a>
                            <a routerLink="javascript:"><ng-icon name="heroEllipsisVertical"></ng-icon></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>