<div class="modal right-aligned-modal fade" bsModal #FlsmModal="bs-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please select your NCCS</h4>
                <button type="button" class="btn-close"></button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-primary w-100">Continue</button>
            </div>
        </div>
    </div>
</div>